Ferramentas/Testes workflow/Hotel Workflow Evaluator.json
{
  "updatedAt": "2026-01-24T08:46:35.618Z",
  "createdAt": "2026-01-24T08:35:07.890Z",
  "id": "HaRijJweXG9wbkOL1Tltb",
  "name": "Hotel Workflow Evaluator",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1n4xNqXGxLEPfs0R2Xl74JZAX1imG2HZW0r45Ez_YoZQ/edit?gid=0#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        }
      },
      "id": "63eee613-7078-4987-9d84-da7c2b6a37c0",
      "name": "When fetching test case row",
      "type": "n8n-nodes-base.evaluationTrigger",
      "position": [
        -512,
        448
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {},
      "id": "9cf7b3b8-39ca-4429-88c9-9e947e984ce2",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -512,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-test-id",
              "name": "test_id",
              "type": "string",
              "value": "={{ $json.test_id }}"
            },
            {
              "id": "assign-intent",
              "name": "expected_intent",
              "type": "string",
              "value": "={{ $json.intent }}"
            },
            {
              "id": "assign-query",
              "name": "query",
              "type": "string",
              "value": "={{ $json.query }}"
            },
            {
              "id": "assign-language",
              "name": "expected_language",
              "type": "string",
              "value": "={{ $json.language }}"
            },
            {
              "id": "assign-session",
              "name": "session_id",
              "type": "string",
              "value": "={{ $json.test_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "53a00166-cbdb-4f36-ace9-24bebc9e2e58",
      "name": "Get Test Input",
      "type": "n8n-nodes-base.set",
      "position": [
        -288,
        448
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "manual-test-id",
              "name": "test_id",
              "type": "string",
              "value": "manual-test-{{ $now.format('yyyyMMdd-HHmmss') }}"
            },
            {
              "id": "manual-intent",
              "name": "expected_intent",
              "type": "string",
              "value": "room_info"
            },
            {
              "id": "manual-query",
              "name": "query",
              "type": "string",
              "value": "What types of rooms do you have available?"
            },
            {
              "id": "manual-language",
              "name": "expected_language",
              "type": "string",
              "value": "en"
            },
            {
              "id": "manual-session",
              "name": "session_id",
              "type": "string",
              "value": "manual-session-{{ $now.format('yyyyMMdd-HHmmss') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "493cef08-c941-4520-b685-67c0d49d9fa1",
      "name": "Get Manual Input",
      "type": "n8n-nodes-base.set",
      "position": [
        -288,
        640
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/hotel-support",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.query }}\",\n  \"session_id\": \"{{ $json.session_id }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 30000
        }
      },
      "id": "95c588f1-7f31-46a2-a896-85b158166ac4",
      "name": "Call Hotel Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -64,
        544
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate Hotel Workflow response\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const testData = item.json;\n  const httpResponse = testData.body || {};\n  const httpStatus = testData.statusCode || 0;\n  \n  let parsed = {\n    test_id: testData.test_id,\n    expected_intent: testData.expected_intent,\n    expected_language: testData.expected_language,\n    query: testData.query,\n    session_id: testData.session_id,\n    http_status: httpStatus,\n    agent_response: JSON.stringify(httpResponse),\n    actual_intent: httpResponse.intent || 'unknown',\n    actual_response: httpResponse.response || '',\n    actual_session_id: httpResponse.session_id || '',\n    reference_id: httpResponse.reference_id || null,\n    reservation_submitted: httpResponse.reservation_submitted || false,\n    timestamp: new Date().toISOString()\n  };\n  \n  // Detect language in response (basic detection)\n  const detectLanguage = (text) => {\n    if (!text) return 'unknown';\n    // Portuguese detection\n    if (/\\b(obrigado|por favor|olá|sim|não|como|que|para)\\b/i.test(text)) {\n      // Check for Brazilian Portuguese indicators\n      if (/\\b(você|pra|tá|vocês)\\b/i.test(text)) {\n        return 'pt-BR';\n      }\n      return 'pt-PT';\n    }\n    // English detection\n    if (/\\b(hello|thank|please|yes|no|how|what|for|the|and)\\b/i.test(text)) {\n      return 'en';\n    }\n    // Spanish detection\n    if (/\\b(hola|gracias|por favor|sí|cómo|qué|para)\\b/i.test(text)) {\n      return 'es';\n    }\n    // French detection\n    if (/\\b(bonjour|merci|s'il vous plaît|oui|non|comment|quoi)\\b/i.test(text)) {\n      return 'fr';\n    }\n    return 'en'; // default\n  };\n  \n  parsed.detected_language = detectLanguage(parsed.actual_response);\n  \n  results.push({ json: parsed });\n}\n\nreturn results;"
      },
      "id": "1b744ec0-2aac-4792-b501-70043efc666f",
      "name": "Parse Hotel Response",
      "type": "n8n-nodes-base.code",
      "position": [
        160,
        544
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "id": "a0f8b483-7f9d-421b-9261-77d72950a22e",
      "name": "Evaluation?",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        384,
        544
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {},
      "id": "fd0e7a6f-31d5-45d4-bf87-cba24721ea9d",
      "name": "Return Manual Test Result",
      "type": "n8n-nodes-base.noOp",
      "position": [
        608,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1n4xNqXGxLEPfs0R2Xl74JZAX1imG2HZW0r45Ez_YoZQ/edit?gid=0#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "outputs": {
          "values": [
            {
              "outputName": "agent_response",
              "outputValue": "={{ $json.agent_response }}"
            },
            {
              "outputName": "http_status",
              "outputValue": "={{ $json.http_status }}"
            },
            {
              "outputName": "detected_language",
              "outputValue": "={{ $json.detected_language }}"
            }
          ]
        }
      },
      "id": "e68ea494-b4bd-41d0-9746-5b83f3de5dc3",
      "name": "Set Actual Output",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        608,
        448
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "jsCode": "// Calculate Intent Classification Accuracy\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const expected = (data.expected_intent || '').toLowerCase().trim();\n  const actual = (data.actual_intent || '').toLowerCase().trim();\n  \n  const intentAccuracy = expected === actual ? 1 : 0;\n  \n  results.push({\n    json: {\n      ...data,\n      intent_accuracy: intentAccuracy,\n      intent_match_details: `Expected: ${expected}, Actual: ${actual}`\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "57f20da2-fd94-4f6a-b9ca-0fc24c2f0c00",
      "name": "Calculate Intent Accuracy",
      "type": "n8n-nodes-base.code",
      "position": [
        832,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Calculate Language Consistency Score\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const expected = (data.expected_language || '').toLowerCase().trim();\n  const detected = (data.detected_language || '').toLowerCase().trim();\n  \n  let languageScore = 0;\n  let languageNotes = '';\n  \n  // Exact match\n  if (expected === detected) {\n    languageScore = 1;\n    languageNotes = 'Language matches exactly';\n  } \n  // Special case: pt-PT vs pt-BR\n  else if (expected === 'pt-pt' && detected === 'pt-br') {\n    languageScore = 0;\n    languageNotes = 'CRITICAL: Used Brazilian Portuguese instead of European Portuguese';\n  }\n  // Base language match (en vs en-US)\n  else if (expected.split('-')[0] === detected.split('-')[0]) {\n    languageScore = 0.8;\n    languageNotes = 'Base language matches, dialect differs';\n  }\n  // No match\n  else {\n    languageScore = 0;\n    languageNotes = `Language mismatch: expected ${expected}, got ${detected}`;\n  }\n  \n  results.push({\n    json: {\n      ...data,\n      language_score: languageScore,\n      language_notes: languageNotes\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "b4f8187e-73b9-4234-b9a3-d45f7f1bd299",
      "name": "Calculate Language Consistency",
      "type": "n8n-nodes-base.code",
      "position": [
        832,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Calculate Reservation Data Completeness\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const intent = (data.actual_intent || '').toLowerCase();\n  const isReservationIntent = ['taxi_reservation', 'diner_reservation'].includes(intent);\n  \n  let reservationScore = null; // N/A by default\n  let reservationNotes = 'Not a reservation intent';\n  \n  if (isReservationIntent) {\n    const referenceId = data.reference_id;\n    const submitted = data.reservation_submitted;\n    \n    // Check reference ID format\n    const hasValidFormat = referenceId && /^(TAXI|DINER)-\\d+-[a-z0-9]+$/i.test(referenceId);\n    \n    if (submitted && hasValidFormat) {\n      reservationScore = 1;\n      reservationNotes = `Valid reservation: ${referenceId}`;\n    } else if (!submitted) {\n      reservationScore = 0.5;\n      reservationNotes = 'Collecting information (multi-turn in progress)';\n    } else if (!hasValidFormat) {\n      reservationScore = 0;\n      reservationNotes = 'Invalid or missing reference ID format';\n    }\n  }\n  \n  results.push({\n    json: {\n      ...data,\n      reservation_score: reservationScore,\n      reservation_notes: reservationNotes\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "414eeb90-3a5d-4f72-bd99-fdca799f3020",
      "name": "Calculate Reservation Completeness",
      "type": "n8n-nodes-base.code",
      "position": [
        832,
        544
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Calculate Error Handling Score\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const httpStatus = data.http_status || 0;\n  const response = (data.actual_response || '').toLowerCase();\n  \n  let errorScore = null; // N/A by default\n  let errorNotes = 'Not an error test';\n  \n  // Check if this was an error scenario (5xx, timeout, etc.)\n  if (httpStatus >= 500 || httpStatus === 0) {\n    // Error occurred - check for graceful handling\n    if (response.includes('technical difficulties') || \n        response.includes('experiencing issues') ||\n        response.includes('try again') ||\n        response.includes('apologize')) {\n      errorScore = 1;\n      errorNotes = 'Graceful error message provided';\n    } else {\n      errorScore = 0;\n      errorNotes = 'Poor error handling or exposed technical details';\n    }\n  }\n  // Check for error messages in 200 responses (shouldn't happen)\n  else if (httpStatus === 200 && \n           (response.includes('error:') || \n            response.includes('exception') ||\n            response.includes('stack trace'))) {\n    errorScore = 0;\n    errorNotes = 'Technical error details exposed to user';\n  }\n  \n  results.push({\n    json: {\n      ...data,\n      error_handling: errorScore,\n      error_notes: errorNotes\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "4b30bfe7-0e5f-4079-9b91-c69a4386d99a",
      "name": "Calculate Error Handling",
      "type": "n8n-nodes-base.code",
      "position": [
        832,
        736
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $('Get Test Input').item.json.expected_intent }}",
        "actualAnswer": "={{ $json.actual_response }}",
        "options": {
          "metricName": "Response Quality"
        }
      },
      "id": "57efdaba-10d5-4887-8106-0dffe16233b6",
      "name": "Calculate Response Quality",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        1056,
        352
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d74ee708-3709-40f3-b005-87a1d092aab7",
      "name": "Gemini Evaluator",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1136,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all metrics with weighted scoring\nconst items = $input.all();\nconst results = [];\n\n// Weights\nconst WEIGHTS = {\n  intent_accuracy: 0.40,\n  response_quality: 0.30,\n  language_score: 0.15,\n  reservation_score: 0.10,\n  error_handling: 0.05\n};\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Normalize response quality from 1-5 scale to 0-1\n  const responseQuality = data['Response Quality'] || data.response_quality || 3;\n  const normalizedQuality = (responseQuality - 1) / 4; // Convert 1-5 to 0-1\n  \n  // Collect all scores\n  const scores = {\n    intent_accuracy: data.intent_accuracy || 0,\n    response_quality: normalizedQuality,\n    language_score: data.language_score !== null ? data.language_score : 1,\n    reservation_score: data.reservation_score,\n    error_handling: data.error_handling\n  };\n  \n  // Calculate weighted score (only for applicable metrics)\n  let totalWeight = 0;\n  let weightedSum = 0;\n  \n  for (const [metric, weight] of Object.entries(WEIGHTS)) {\n    if (scores[metric] !== null && scores[metric] !== undefined) {\n      weightedSum += scores[metric] * weight;\n      totalWeight += weight;\n    }\n  }\n  \n  const finalScore = totalWeight > 0 ? weightedSum / totalWeight : 0;\n  \n  // Determine pass/fail (threshold: 0.7 = 70%)\n  const passed = finalScore >= 0.7;\n  \n  // Count checks\n  let checksPassed = 0;\n  let checksFailed = 0;\n  let checksWarnings = 0;\n  \n  if (scores.intent_accuracy === 1) checksPassed++; else checksFailed++;\n  if (scores.response_quality >= 0.6) checksPassed++; else if (scores.response_quality >= 0.4) checksWarnings++; else checksFailed++;\n  if (scores.language_score === 1) checksPassed++; else if (scores.language_score >= 0.8) checksWarnings++; else if (scores.language_score !== null) checksFailed++;\n  if (scores.reservation_score === 1) checksPassed++; else if (scores.reservation_score === 0.5) checksWarnings++; else if (scores.reservation_score === 0) checksFailed++;\n  if (scores.error_handling === 1) checksPassed++; else if (scores.error_handling === 0) checksFailed++;\n  \n  // Build scoring notes\n  const notes = [\n    `Intent Accuracy: ${(scores.intent_accuracy * 100).toFixed(0)}% (weight: ${(WEIGHTS.intent_accuracy * 100)}%)`,\n    `Response Quality: ${(scores.response_quality * 100).toFixed(0)}% (weight: ${(WEIGHTS.response_quality * 100)}%)`,\n    `Language Score: ${scores.language_score !== null ? (scores.language_score * 100).toFixed(0) + '%' : 'N/A'} (weight: ${(WEIGHTS.language_score * 100)}%)`,\n    `Reservation Score: ${scores.reservation_score !== null ? (scores.reservation_score * 100).toFixed(0) + '%' : 'N/A'} (weight: ${(WEIGHTS.reservation_score * 100)}%)`,\n    `Error Handling: ${scores.error_handling !== null ? (scores.error_handling * 100).toFixed(0) + '%' : 'N/A'} (weight: ${(WEIGHTS.error_handling * 100)}%)`,\n    `---`,\n    `Final Score: ${(finalScore * 100).toFixed(1)}%`,\n    `Status: ${passed ? 'PASSED' : 'FAILED'}`,\n    `Details: ${data.intent_match_details || ''}, ${data.language_notes || ''}, ${data.reservation_notes || ''}, ${data.error_notes || ''}`\n  ];\n  \n  results.push({\n    json: {\n      ...data,\n      score: parseFloat(finalScore.toFixed(3)),\n      passed: passed,\n      checks_passed: checksPassed,\n      checks_failed: checksFailed,\n      checks_warnings: checksWarnings,\n      scoring_notes: notes.join('\\n'),\n      evaluated_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "379f7e37-f8f9-4519-940d-373ee324cf9f",
      "name": "Aggregate Metrics",
      "type": "n8n-nodes-base.code",
      "position": [
        1408,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1n4xNqXGxLEPfs0R2Xl74JZAX1imG2HZW0r45Ez_YoZQ/edit?gid=0#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0"
        },
        "outputs": {
          "values": [
            {
              "outputName": "score",
              "outputValue": "={{ $json.score }}"
            },
            {
              "outputName": "passed",
              "outputValue": "={{ $json.passed }}"
            },
            {
              "outputName": "checks_passed",
              "outputValue": "={{ $json.checks_passed }}"
            },
            {
              "outputName": "checks_failed",
              "outputValue": "={{ $json.checks_failed }}"
            },
            {
              "outputName": "checks_warnings",
              "outputValue": "={{ $json.checks_warnings }}"
            },
            {
              "outputName": "scoring_notes",
              "outputValue": "={{ $json.scoring_notes }}"
            },
            {
              "outputName": "evaluated_at",
              "outputValue": "={{ $json.evaluated_at }}"
            }
          ]
        }
      },
      "id": "e668b61d-5efd-4e0b-8de6-6f32a540fc72",
      "name": "Set All Metrics",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        1632,
        352
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "content": "## Hotel Workflow Evaluator\n\nThis workflow systematically tests the Hotel Self-Service Support workflow.\n\n**Test Coverage:**\n- All 9 intent paths (room, service, policy, taxi, diner, local, books, general, reservation_status)\n- Multi-turn conversations (reservation flows with session state)\n- Edge cases (mixed language, malformed input, empty messages)\n- Error scenarios (timeouts, invalid data)\n\n**Evaluation Metrics (Weighted):**\n- Intent Accuracy: 40%\n- Response Quality: 30% (AI-scored)\n- Language Consistency: 15%\n- Reservation Completeness: 10%\n- Error Handling: 5%\n\n**Pass Threshold:** 70% overall score\n\n**Setup:**\n1. Configure Google Sheets credentials\n2. Ensure Hotel workflow is running at http://localhost:5678/webhook/hotel-support\n3. Import test dataset CSV to Google Sheet\n4. Run evaluation to test all cases",
        "height": 420,
        "width": 460
      },
      "id": "f0a4a09e-e4ba-4e6f-a247-b63ff82b30f5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "When fetching test case row": {
      "main": [
        [
          {
            "node": "Get Test Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get Manual Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Test Input": {
      "main": [
        [
          {
            "node": "Call Hotel Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Manual Input": {
      "main": [
        [
          {
            "node": "Call Hotel Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Hotel Workflow": {
      "main": [
        [
          {
            "node": "Parse Hotel Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hotel Response": {
      "main": [
        [
          {
            "node": "Evaluation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation?": {
      "main": [
        [
          {
            "node": "Set Actual Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Manual Test Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Actual Output": {
      "main": [
        [
          {
            "node": "Calculate Intent Accuracy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Language Consistency",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Reservation Completeness",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Intent Accuracy": {
      "main": [
        [
          {
            "node": "Calculate Response Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Language Consistency": {
      "main": [
        [
          {
            "node": "Calculate Response Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Reservation Completeness": {
      "main": [
        [
          {
            "node": "Calculate Response Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Error Handling": {
      "main": [
        [
          {
            "node": "Calculate Response Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Response Quality": {
      "main": [
        [
          {
            "node": "Aggregate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Evaluator": {
      "ai_languageModel": [
        [
          {
            "node": "Calculate Response Quality",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Metrics": {
      "main": [
        [
          {
            "node": "Set All Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0a6e8392-604e-4c61-ade9-b7ea8af2c1c7",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-24T08:35:07.890Z",
      "createdAt": "2026-01-24T08:35:07.890Z",
      "role": "workflow:owner",
      "workflowId": "HaRijJweXG9wbkOL1Tltb",
      "projectId": "Ngf6hTAwSZXVFW0A",
      "project": {
        "updatedAt": "2026-01-22T23:42:59.496Z",
        "createdAt": "2026-01-22T23:41:53.441Z",
        "id": "Ngf6hTAwSZXVFW0A",
        "name": "André andrefloresbrasil@gmail.com <andrefloresbrasil@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T23:41:53.441Z",
            "createdAt": "2026-01-22T23:41:53.441Z",
            "userId": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
            "projectId": "Ngf6hTAwSZXVFW0A",
            "user": {
              "updatedAt": "2026-02-24T02:17:08.698Z",
              "createdAt": "2026-01-22T23:41:51.823Z",
              "id": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
              "email": "andrefloresbrasil@gmail.com",
              "firstName": "André",
              "lastName": "andrefloresbrasil@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T23:43:09.282Z",
                "personalization_survey_n8n_version": "2.4.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FxVMXrBqcRpFL2LSUxZF1",
                "userActivatedAt": 1769126574967,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769443602440
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
