Ferramentas/Testes workflow/Sales Assistant Evaluator.json
{
  "name": "Sales Assistant Evaluator",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1WPXYbntB2SCWTmR4FnwaRnqhJb7kdNkYjF2KfAN43p4/edit?gid=0#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        }
      },
      "id": "a1b2c3d4-e5f6-4789-a1b2-c3d4e5f67890",
      "name": "When fetching test case row",
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.6,
      "position": [240, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DbhUm6aWuB9yVNAm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-f6a7-4890-b1c2-d3e4f5a67891",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 520]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a2b3c4d-5e6f-7890-a1b2-c3d4e5f67892",
              "name": "test_id",
              "value": "={{ $json.test_id }}",
              "type": "string"
            },
            {
              "id": "2b3c4d5e-6f7a-8901-b2c3-d4e5f6a78903",
              "name": "expected_intent",
              "value": "={{ $json.intent }}",
              "type": "string"
            },
            {
              "id": "3c4d5e6f-7a8b-9012-c3d4-e5f6a7b89014",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            },
            {
              "id": "4d5e6f7a-8b9c-0123-d4e5-f6a7b8c90125",
              "name": "expected_language",
              "value": "={{ $json.language }}",
              "type": "string"
            },
            {
              "id": "5e6f7a8b-9c0d-1234-e5f6-a7b8c9d01236",
              "name": "session_id",
              "value": "={{ $json.test_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-4901-c2d3-e4f5a6b78902",
      "name": "Get Test Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f7a8b9c-0d1e-2345-f6a7-b8c9d0e12347",
              "name": "test_id",
              "value": "manual-test-001",
              "type": "string"
            },
            {
              "id": "7a8b9c0d-1e2f-3456-a7b8-c9d0e1f23458",
              "name": "expected_intent",
              "value": "service_info",
              "type": "string"
            },
            {
              "id": "8b9c0d1e-2f3a-4567-b8c9-d0e1f2a34569",
              "name": "query",
              "value": "Tem chapas de aço inoxidável?",
              "type": "string"
            },
            {
              "id": "9c0d1e2f-3a4b-5678-c9d0-e1f2a3b4567a",
              "name": "expected_language",
              "value": "pt-PT",
              "type": "string"
            },
            {
              "id": "0d1e2f3a-4b5c-6789-d0e1-f2a3b4c5678b",
              "name": "session_id",
              "value": "manual-test-001",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-4012-d3e4-f5a6b7c89013",
      "name": "Get Manual Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/sales-assistant-v2",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.query }}\",\n  \"session_id\": \"{{ $json.session_id }}\"\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "e5f6a7b8-c9d0-4123-e4f5-a6b7c8d90124",
      "name": "Call Sales Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nlet testInputNode;\ntry {\n  testInputNode = $('Get Test Input').all();\n} catch (e) {\n  try {\n    testInputNode = $('Get Manual Input').all();\n  } catch (e2) {\n    testInputNode = [];\n  }\n}\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const httpResponse = item.json || {};\n  const testInput = testInputNode[i]?.json || {};\n  \n  const httpStatus = httpResponse.statusCode || httpResponse.status || 0;\n\n  let rawBody = httpResponse.body ?? httpResponse.response ?? httpResponse;\n  let parsedBody = {};\n  let parseError = false;\n\n  if (typeof rawBody === 'string') {\n    try {\n      parsedBody = JSON.parse(rawBody);\n    } catch (err) {\n      parsedBody = { raw_text: rawBody };\n      parseError = true;\n    }\n  } else if (typeof rawBody === 'object' && rawBody !== null) {\n    if (rawBody.body && typeof rawBody.body === 'string') {\n      try {\n        parsedBody = JSON.parse(rawBody.body);\n      } catch (err) {\n        parsedBody = { raw_text: rawBody.body };\n        parseError = true;\n      }\n    } else if (rawBody.body && typeof rawBody.body === 'object') {\n      parsedBody = rawBody.body;\n    } else {\n      parsedBody = rawBody;\n    }\n  }\n\n  const actualResponse = parsedBody.response || parsedBody.raw_text || parsedBody.text || parsedBody.message || '';\n  const actualIntent = parsedBody.intent || '';\n  const actualSessionId = parsedBody.session_id || '';\n  const referenceId = parsedBody.reference_id || null;\n  const quoteSubmitted = parsedBody.quote_submitted || false;\n  const supportSubmitted = parsedBody.support_submitted || false;\n\n  // Language detection\n  let detectedLanguage = 'unknown';\n  const ptBrIndicators = [\n    /\\bvocê\\b/i, /\\bvocês\\b/i, /\\bpra\\s/i, /\\btá\\s/i,\n    /\\ba gente\\b/i, /\\blegal\\b/i, /\\bbacana\\b/i, /\\bcelular\\b/i,\n    /\\bfrete\\b/i, /\\bboleto\\b/i,\n    /\\bestou\\s+(verificando|checando|olhando|vendo)/i,\n    /\\bestamos\\s+(verificando|checando|olhando|vendo)/i,\n    /\\bestou\\s+\\w+(ando|endo|indo)\\b/i,\n    /\\bestamos\\s+\\w+(ando|endo|indo)\\b/i,\n    /\\bcadastro\\b/i, /\\barquivo\\b/i, /\\bacessar\\b/i,\n    /\\bdeletar\\b/i, /\\bvaleu\\b/i, /\\bcurtir\\b/i,\n    /\\bpegar\\b/i\n  ];\n  const hasPtBr = ptBrIndicators.some(regex => regex.test(actualResponse));\n\n  if (hasPtBr) {\n    detectedLanguage = 'pt-BR';\n  } else if (/[áàâãéêíóôõúçÁÀÂÃÉÊÍÓÔÕÚÇ]/.test(actualResponse) || /\\b(olá|obrigado|por favor|sim|não|como|para)\\b/i.test(actualResponse)) {\n    detectedLanguage = 'pt-PT';\n  } else if (/\\b(the|and|is|are|have|has|was|were|do|does|will|would|can|could)\\b/i.test(actualResponse)) {\n    detectedLanguage = 'en';\n  } else if (/\\b(el|la|los|las|tiene|están|hacer)\\b/i.test(actualResponse)) {\n    detectedLanguage = 'es';\n  } else if (/\\b(le|la|les|vous|nous|avez|sont|faire)\\b/i.test(actualResponse)) {\n    detectedLanguage = 'fr';\n  } else if (actualResponse.length > 0) {\n    detectedLanguage = 'en';\n  }\n\n  results.push({\n    json: {\n      test_id: testInput.test_id || null,\n      expected_intent: testInput.expected_intent || null,\n      query: testInput.query || '',\n      expected_language: testInput.expected_language || 'en',\n      session_id: testInput.session_id || null,\n      http_status: Number(httpStatus) || 0,\n      actual_response: String(actualResponse),\n      actual_intent: String(actualIntent),\n      actual_session_id: String(actualSessionId),\n      reference_id: referenceId,\n      quote_submitted: !!quoteSubmitted,\n      support_submitted: !!supportSubmitted,\n      detected_language: detectedLanguage,\n      parse_error: parseError,\n      timestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "f6a7b8c9-d0e1-4234-f5a6-b7c8d9e01235",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "id": "a7b8c9d0-e1f2-4345-a6b7-c8d9e0f12346",
      "name": "Evaluation?",
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "jsCode": "// Calculate intent accuracy\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const expectedIntent = item.json.expected_intent || '';\n  const actualIntent = item.json.actual_intent || '';\n  const actualResponse = item.json.actual_response || '';\n  \n  let intentScore = 0;\n  let notes = '';\n  \n  // Direct intent match (if the V2 returns intent classification)\n  if (actualIntent && actualIntent === expectedIntent) {\n    intentScore = 1;\n    notes = 'Intent matched directly';\n  } else if (actualIntent && actualIntent !== expectedIntent) {\n    intentScore = 0;\n    notes = `Intent mismatch: expected ${expectedIntent}, got ${actualIntent}`;\n  } else {\n    // V2 may not return explicit intent, so check if response is relevant to expected intent\n    // This is a heuristic check based on response content\n    const responseLC = actualResponse.toLowerCase();\n    \n    switch(expectedIntent) {\n      case 'service_info':\n        if (responseLC.includes('produto') || responseLC.includes('chapa') || responseLC.includes('perfil') || \n            responseLC.includes('material') || responseLC.includes('aço') || responseLC.includes('product') || \n            responseLC.includes('steel') || responseLC.includes('price') || responseLC.includes('preço') ||\n            responseLC.includes('custo') || responseLC.includes('disponível') || responseLC.includes('soldadura') || responseLC.includes('serviço') || responseLC.includes('metalomecânica') || responseLC.includes('grua') || responseLC.includes('plataforma') || responseLC.includes('serralharia') || responseLC.includes('cnc') || responseLC.includes('hidráulic')) {\n          intentScore = 0.8;\n          notes = 'Response appears relevant to service inquiry';\n        } else {\n          intentScore = 0.3;\n          notes = 'Response may not be relevant to service inquiry';\n        }\n        break;\n        \n      case 'company_info':\n        if (responseLC.includes('empresa') || responseLC.includes('serviço') || responseLC.includes('localiza') || \n            responseLC.includes('horário') || responseLC.includes('company') || responseLC.includes('service') ||\n            responseLC.includes('location') || responseLC.includes('hours')) {\n          intentScore = 0.8;\n          notes = 'Response appears relevant to company info';\n        } else {\n          intentScore = 0.3;\n          notes = 'Response may not be relevant to company info';\n        }\n        break;\n        \n      case 'quote_request':\n        if (responseLC.includes('orçamento') || responseLC.includes('quote') || responseLC.includes('nome') || \n            responseLC.includes('email') || responseLC.includes('contacto') || responseLC.includes('referência') ||\n            item.json.reference_id || item.json.quote_submitted) {\n          intentScore = 0.8;\n          notes = 'Response appears to handle quote request';\n        } else {\n          intentScore = 0.3;\n          notes = 'Response may not be handling quote properly';\n        }\n        break;\n        \n      case 'support_request':\n        if (responseLC.includes('encomenda') || responseLC.includes('pedido') || responseLC.includes('order') || \n            responseLC.includes('número') || responseLC.includes('referência') || item.json.support_submitted) {\n          intentScore = 0.8;\n          notes = 'Response appears to handle support request';\n        } else {\n          intentScore = 0.3;\n          notes = 'Response may not be handling support request properly';\n        }\n        break;\n        \n      case 'policies':\n        if (responseLC.includes('rgpd') || responseLC.includes('privacidade') || responseLC.includes('proteção') || \n            responseLC.includes('dados') || responseLC.includes('termos') || responseLC.includes('legal') ||\n            responseLC.includes('privacy') || responseLC.includes('gdpr') || responseLC.includes('policy')) {\n          intentScore = 0.8;\n          notes = 'Response appears relevant to policies/legal';\n        } else {\n          intentScore = 0.3;\n          notes = 'Response may not be relevant to policies/legal';\n        }\n        break;\n        \n      case 'promotions':\n        if (responseLC.includes('promoção') || responseLC.includes('desconto') || responseLC.includes('campanha') || \n            responseLC.includes('promotion') || responseLC.includes('discount') || responseLC.includes('offer')) {\n          intentScore = 0.8;\n          notes = 'Response appears relevant to promotions';\n        } else {\n          intentScore = 0.3;\n          notes = 'Response may not be relevant to promotions';\n        }\n        break;\n        \n      case 'product_recommendations':\n        if (responseLC.includes('recomen') || responseLC.includes('sugiro') || responseLC.includes('melhor') || \n            responseLC.includes('recommend') || responseLC.includes('suggest') || responseLC.includes('best')) {\n          intentScore = 0.8;\n          notes = 'Response appears to provide recommendations';\n        } else {\n          intentScore = 0.3;\n          notes = 'Response may not provide recommendations';\n        }\n        break;\n        \n      case 'general':\n        // General/greetings are flexible\n        if (responseLC.length > 0) {\n          intentScore = 0.7;\n          notes = 'General response provided';\n        }\n        break;\n        \n      default:\n        intentScore = 0.5;\n        notes = 'Unknown intent category';\n    }\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      intent_accuracy: intentScore,\n      intent_notes: notes\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "b8c9d0e1-f2a3-4456-b7c8-d9e0f1a23457",
      "name": "Calculate Intent Accuracy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 160]
    },
    {
      "parameters": {
        "jsCode": "// Calculate language consistency score\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const expectedLang = item.json.expected_language || '';\n  const detectedLang = item.json.detected_language || '';\n  const actualResponse = item.json.actual_response || '';\n  \n  let languageScore = 0;\n  let notes = '';\n  \n  // Critical: PT-BR when PT-PT expected is a MAJOR issue\n  if (expectedLang === 'pt-PT' && detectedLang === 'pt-BR') {\n    languageScore = 0;\n    notes = 'FAILED: Used Brazilian Portuguese instead of European Portuguese';\n    \n    // List the specific BR violations found\n    const violations = [];\n    if (/\\bvocê\\b/i.test(actualResponse)) violations.push('você');\n    if (/\\bvocês\\b/i.test(actualResponse)) violations.push('vocês');\n    if (/\\bpra\\s/i.test(actualResponse)) violations.push('pra');\n    if (/\\btá\\s/i.test(actualResponse)) violations.push('tá');\n    if (/\\ba gente\\b/i.test(actualResponse)) violations.push('a gente');\n    if (/\\blegal\\b/i.test(actualResponse)) violations.push('legal');\n    if (/\\bestou\\s+\\w+(ando|endo|indo)\\b/i.test(actualResponse)) violations.push('gerund form');\n    if (/\\bcadastro\\b/i.test(actualResponse)) violations.push('cadastro');\n    if (/\\barquivo\\b/i.test(actualResponse)) violations.push('arquivo');\n    if (/\\bacessar\\b/i.test(actualResponse)) violations.push('acessar');\n    if (/\\bpegar\\b/i.test(actualResponse)) violations.push('pegar');\n    if (/\\bvaleu\\b/i.test(actualResponse)) violations.push('valeu');\n    \n    if (violations.length > 0) {\n      notes += '. Violations: ' + violations.join(', ');\n    }\n  }\n  // Perfect match\n  else if (expectedLang === detectedLang) {\n    languageScore = 1;\n    notes = 'Language matches expected';\n  }\n  // Portuguese variants (PT-PT detected when PT-BR expected is acceptable)\n  else if ((expectedLang === 'pt-PT' || expectedLang === 'pt-BR') && \n           (detectedLang === 'pt-PT' || detectedLang === 'pt-BR')) {\n    languageScore = 0.8;\n    notes = 'Portuguese variant mismatch but acceptable';\n  }\n  // Different language entirely\n  else if (expectedLang !== detectedLang && detectedLang !== 'unknown') {\n    languageScore = 0.3;\n    notes = `Language mismatch: expected ${expectedLang}, detected ${detectedLang}`;\n  }\n  // Unknown language detected\n  else {\n    languageScore = 0.5;\n    notes = 'Could not reliably detect language';\n  }\n  \n  // Empty response\n  if (actualResponse.trim().length === 0) {\n    languageScore = 0;\n    notes = 'Empty response';\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      language_score: languageScore,\n      language_notes: notes\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "c9d0e1f2-a3b4-4567-c8d9-e0f1a2b34568",
      "name": "Calculate Language Consistency",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 280]
    },
    {
      "parameters": {
        "jsCode": "// Calculate tool usage score\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const expectedIntent = item.json.expected_intent || '';\n  const actualResponse = item.json.actual_response || '';\n  const httpStatus = item.json.http_status || 0;\n  \n  let toolScore = null; // null means N/A\n  let notes = '';\n  \n  // Tool usage only matters for non-general intents\n  const greetingIntents = ['general'];\n  \n  if (greetingIntents.includes(expectedIntent)) {\n    toolScore = null;\n    notes = 'N/A for greeting/general intent';\n  } else {\n    const responseLC = actualResponse.toLowerCase();\n    \n    // Check for fallback messages indicating tool was called but returned no results\n    const hasFallback = responseLC.includes('não encontrei') || \n                        responseLC.includes('não tenho') ||\n                        responseLC.includes('não disponível') ||\n                        responseLC.includes('contacte-nos') ||\n                        responseLC.includes('entre em contacto') ||\n                        responseLC.includes('not found') ||\n                        responseLC.includes('not available');\n    \n    // Check for specific/factual information suggesting tools were used\n    const hasSpecificInfo = /\\d+/.test(actualResponse) || // Contains numbers\n                            responseLC.includes('€') || \n                            responseLC.includes('euro') ||\n                            responseLC.includes('heb') ||\n                            responseLC.includes('ipe') ||\n                            responseLC.includes('inox') ||\n                            responseLC.includes('aço') ||\n                            responseLC.includes('soldadura') ||\n                            responseLC.includes('metalomecânica') ||\n                            responseLC.includes('grua') ||\n                            responseLC.includes('plataforma') ||\n                            responseLC.includes('serralharia') ||\n                            responseLC.includes('cnc') ||\n                            responseLC.includes('hidráulic') ||\n                            item.json.reference_id; // Has reference ID from tool\n    \n    // Check for generic/vague responses suggesting no tool use\n    const isVague = responseLC.includes('geralmente') ||\n                    responseLC.includes('tipicamente') ||\n                    responseLC.includes('normalmente') ||\n                    responseLC.includes('usually') ||\n                    responseLC.includes('typically') ||\n                    responseLC.includes('generally');\n    \n    // Check for obvious hallucinations\n    const hasHallucination = (/\\d+\\s*€/.test(actualResponse) && !responseLC.includes('contacte')) || // Specific prices without caveat\n                             responseLC.includes('produto xyz') ||\n                             responseLC.includes('modelo abc');\n    \n    if (hasHallucination) {\n      toolScore = 0;\n      notes = 'Response contains hallucinated data';\n    } else if (hasSpecificInfo && !isVague) {\n      toolScore = 1;\n      notes = 'Response contains specific factual information from tools';\n    } else if (hasFallback) {\n      toolScore = 1;\n      notes = 'Tool was called with proper fallback message';\n    } else if (isVague) {\n      toolScore = 0.5;\n      notes = 'Response is vague, unclear if tools were used';\n    } else if (actualResponse.length > 20) {\n      toolScore = 0.7;\n      notes = 'Response appears substantive but tool use unclear';\n    } else {\n      toolScore = 0.3;\n      notes = 'Minimal response, likely no tool use';\n    }\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      tool_usage_score: toolScore,\n      tool_notes: notes\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "d0e1f2a3-b4c5-4678-d9e0-f1a2b3c45679",
      "name": "Calculate Tool Usage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "jsCode": "// Calculate data quality score (no hallucinations)\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const actualResponse = item.json.actual_response || '';\n  const expectedIntent = item.json.expected_intent || '';\n  \n  let qualityScore = 1; // Start optimistic\n  let notes = 'No hallucinations detected';\n  \n  const responseLC = actualResponse.toLowerCase();\n  \n  // Red flags for hallucinated data\n  const hallucinations = [];\n  \n  // Specific prices without \"contacte-nos\" caveat (hallucination)\n  if (/\\d+[.,]\\d+\\s*€/.test(actualResponse) && \n      !responseLC.includes('contacte') && \n      !responseLC.includes('orçamento') &&\n      !responseLC.includes('variar')) {\n    hallucinations.push('Specific prices without caveat');\n  }\n  \n  // Generic product names\n  if (responseLC.includes('produto xyz') || \n      responseLC.includes('modelo abc') ||\n      responseLC.includes('referência 123')) {\n    hallucinations.push('Generic placeholder product names');\n  }\n  \n  // Made-up technical specs without source\n  if (/resistência.*\\d+\\s*mpa/i.test(actualResponse) && \n      !responseLC.includes('exemplo') &&\n      !responseLC.includes('contacte')) {\n    hallucinations.push('Specific technical specs without caveat');\n  }\n  \n  // Invented phone numbers or addresses\n  if (/\\d{9}/.test(actualResponse) && !responseLC.includes('exemplo') && !/295.?628.?298/.test(actualResponse) && !/915.?032.?185/.test(actualResponse)) {\n    hallucinations.push('Specific phone number');\n  }\n  \n  // Assess quality\n  if (hallucinations.length > 0) {\n    qualityScore = 0;\n    notes = 'HALLUCINATIONS DETECTED: ' + hallucinations.join(', ');\n  } else {\n    // Check for proper uncertainty handling\n    const hasProperFallback = responseLC.includes('contacte-nos') ||\n                              responseLC.includes('entre em contacto') ||\n                              responseLC.includes('não encontrei') ||\n                              responseLC.includes('não tenho essa informação') ||\n                              responseLC.includes('contact us') ||\n                              responseLC.includes('not available');\n    \n    if (hasProperFallback) {\n      qualityScore = 1;\n      notes = 'Proper fallback to contact when info unavailable';\n    } else if (expectedIntent === 'general') {\n      qualityScore = 1;\n      notes = 'General intent - quality check N/A';\n    } else {\n      // Response is substantive but no obvious hallucinations\n      qualityScore = 0.9;\n      notes = 'No obvious hallucinations, appears grounded';\n    }\n  }\n  \n  // Empty response is poor quality\n  if (actualResponse.trim().length === 0) {\n    qualityScore = 0;\n    notes = 'Empty response';\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      data_quality_score: qualityScore,\n      data_quality_notes: notes\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "e1f2a3b4-c5d6-4789-e0f1-a2b3c4d5678a",
      "name": "Calculate Data Quality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 520]
    },
    {
      "parameters": {
        "jsCode": "// Calculate quote/order handling score\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const expectedIntent = item.json.expected_intent || '';\n  const actualResponse = item.json.actual_response || '';\n  const referenceId = item.json.reference_id;\n  const quoteSubmitted = item.json.quote_submitted;\n  const supportSubmitted = item.json.support_submitted;\n  \n  let quoteOrderScore = null; // null means N/A\n  let notes = '';\n  \n  // Only evaluate for quote_request and support_request\n  if (expectedIntent === 'quote_request') {\n    const responseLC = actualResponse.toLowerCase();\n    \n    // Check if asking for required information\n    const askingForInfo = responseLC.includes('nome') ||\n                          responseLC.includes('email') ||\n                          responseLC.includes('contacto') ||\n                          responseLC.includes('quantidade') ||\n                          responseLC.includes('name') ||\n                          responseLC.includes('email') ||\n                          responseLC.includes('contact');\n    \n    if (referenceId && quoteSubmitted) {\n      quoteOrderScore = 1;\n      notes = `Quote submitted successfully with reference ${referenceId}`;\n    } else if (askingForInfo) {\n      quoteOrderScore = 0.5;\n      notes = 'Collecting information for quote';\n    } else if (referenceId) {\n      quoteOrderScore = 0.8;\n      notes = `Reference ID provided: ${referenceId}`;\n    } else {\n      quoteOrderScore = 0.2;\n      notes = 'No quote handling detected';\n    }\n  } else if (expectedIntent === 'support_request') {\n    const responseLC = actualResponse.toLowerCase();\n    \n    // Check if asking for order details\n    const askingForDetails = responseLC.includes('número') ||\n                             responseLC.includes('pedido') ||\n                             responseLC.includes('encomenda') ||\n                             responseLC.includes('referência') ||\n                             responseLC.includes('order number') ||\n                             responseLC.includes('reference');\n    \n    if (supportSubmitted) {\n      quoteOrderScore = 1;\n      notes = 'Support request submitted successfully';\n    } else if (askingForDetails) {\n      quoteOrderScore = 0.5;\n      notes = 'Collecting order details for support';\n    } else if (responseLC.includes('ajudar') || responseLC.includes('help')) {\n      quoteOrderScore = 0.3;\n      notes = 'Acknowledged support request but not collecting details';\n    } else {\n      quoteOrderScore = 0.1;\n      notes = 'No support request handling detected';\n    }\n  } else {\n    quoteOrderScore = null;\n    notes = 'N/A for this intent';\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      quote_order_score: quoteOrderScore,\n      quote_order_notes: notes\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "f2a3b4c5-d6e7-4890-f1a2-b3c4d5e6789b",
      "name": "Calculate Quote/Order Handling",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 640]
    },
    {
      "parameters": {
        "jsCode": "// Calculate error handling score\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const httpStatus = item.json.http_status || 0;\n  const actualResponse = item.json.actual_response || '';\n  \n  let errorScore = 1; // Start optimistic\n  let notes = 'No errors';\n  \n  // Check HTTP status\n  if (httpStatus >= 500) {\n    errorScore = 0;\n    notes = `Server error: HTTP ${httpStatus}`;\n  } else if (httpStatus >= 400 && httpStatus < 500) {\n    errorScore = 0.3;\n    notes = `Client error: HTTP ${httpStatus}`;\n  } else if (httpStatus !== 200 && httpStatus !== 0) {\n    errorScore = 0.6;\n    notes = `Unexpected status: HTTP ${httpStatus}`;\n  }\n  \n  // Check for exposed technical errors in response\n  const responseLC = actualResponse.toLowerCase();\n  \n  if (responseLC.includes('error:') || \n      responseLC.includes('exception') ||\n      responseLC.includes('stack trace') ||\n      responseLC.includes('internal server error')) {\n    errorScore = Math.min(errorScore, 0.2);\n    notes += '; Exposed technical error details';\n  }\n  \n  // Check for parse errors\n  if (responseLC.includes('undefined') || \n      responseLC.includes('null') ||\n      responseLC.includes('[object object]')) {\n    errorScore = Math.min(errorScore, 0.3);\n    notes += '; Parse error in response';\n  }\n  \n  // Empty response when not expected\n  if (actualResponse.trim().length === 0 && httpStatus === 200) {\n    errorScore = 0.4;\n    notes = 'Empty response despite HTTP 200';\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      error_handling: errorScore,\n      error_notes: notes\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a3b4c5d6-e7f8-4901-a2b3-c4d5e6f78901",
      "name": "Calculate Error Handling",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 760]
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "helpfulness",
        "userQuery": "={{ $json.query }}",
        "actualAnswer": "={{ $json.actual_response || 'No response provided' }}",
        "options": {}
      },
      "id": "b4c5d6e7-f8a9-4012-b3c4-d5e6f7a89012",
      "name": "Calculate Response Quality",
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [1340, 880],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c5d6e7f8-a9b0-4123-c4d5-e6f7a8b90123",
      "name": "Gemini Evaluator",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1560, 1040],
      "credentials": {
        "googlePalmApi": {
          "id": "tN9JeYYTKoLY4gAQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 7,
        "options": {}
      },
      "id": "d6e7f8a9-b0c1-4234-d5e6-f7a8b9c01234",
      "name": "Merge All Metrics",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1600, 520],
      "inputs": [
        { "type": "main" },
        { "type": "main" },
        { "type": "main" },
        { "type": "main" },
        { "type": "main" },
        { "type": "main" },
        { "type": "main" }
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all metrics into final score\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Extract all metric scores\n  const intentAccuracy = data.intent_accuracy ?? 0;\n  const languageScore = data.language_score ?? 0;\n  const toolUsage = data.tool_usage_score;\n  const dataQuality = data.data_quality_score ?? 0;\n  const quoteOrder = data.quote_order_score;\n  const errorHandling = data.error_handling ?? 1;\n  let responseQuality = 0.5;\n  const helpfulnessRaw = data['Helpfulness'] ?? data['helpfulness'];\n  if (helpfulnessRaw !== undefined && helpfulnessRaw !== null) {\n    responseQuality = (helpfulnessRaw - 1) / 4;\n  } else if (data.actual_response && data.actual_response.length > 0) {\n    responseQuality = 0.5;\n  } else {\n    responseQuality = 0;\n  }\n  \n  // Weights for final score\n  const weights = {\n    response_quality: 0.25,\n    language: 0.20,\n    tool_usage: 0.20,\n    data_quality: 0.15,\n    intent: 0.10,\n    quote_order: 0.05,\n    error: 0.05\n  };\n  \n  // Calculate weighted score\n  let totalScore = 0;\n  let totalWeight = 0;\n  \n  totalScore += responseQuality * weights.response_quality;\n  totalWeight += weights.response_quality;\n  \n  totalScore += languageScore * weights.language;\n  totalWeight += weights.language;\n  \n  if (toolUsage !== null) {\n    totalScore += toolUsage * weights.tool_usage;\n    totalWeight += weights.tool_usage;\n  }\n  \n  totalScore += dataQuality * weights.data_quality;\n  totalWeight += weights.data_quality;\n  \n  totalScore += intentAccuracy * weights.intent;\n  totalWeight += weights.intent;\n  \n  if (quoteOrder !== null) {\n    totalScore += quoteOrder * weights.quote_order;\n    totalWeight += weights.quote_order;\n  }\n  \n  totalScore += errorHandling * weights.error;\n  totalWeight += weights.error;\n  \n  // Normalize to 0-1 range\n  const finalScore = totalWeight > 0 ? totalScore / totalWeight : 0;\n  \n  // Pass threshold\n  const passThreshold = 0.70;\n  const passed = finalScore >= passThreshold;\n  \n  // Count checks\n  let checksPassed = 0;\n  let checksFailed = 0;\n  let checksWarnings = 0;\n  \n  if (languageScore >= 0.8) checksPassed++; else if (languageScore >= 0.5) checksWarnings++; else checksFailed++;\n  if (dataQuality >= 0.8) checksPassed++; else if (dataQuality >= 0.5) checksWarnings++; else checksFailed++;\n  if (errorHandling >= 0.8) checksPassed++; else if (errorHandling >= 0.5) checksWarnings++; else checksFailed++;\n  if (intentAccuracy >= 0.7) checksPassed++; else if (intentAccuracy >= 0.4) checksWarnings++; else checksFailed++;\n  if (responseQuality >= 0.7) checksPassed++; else if (responseQuality >= 0.4) checksWarnings++; else checksFailed++;\n  \n  if (toolUsage !== null) {\n    if (toolUsage >= 0.7) checksPassed++; else if (toolUsage >= 0.4) checksWarnings++; else checksFailed++;\n  }\n  \n  if (quoteOrder !== null) {\n    if (quoteOrder >= 0.7) checksPassed++; else if (quoteOrder >= 0.4) checksWarnings++; else checksFailed++;\n  }\n  \n  // Scoring notes\n  const notes = [];\n  if (data.language_notes) notes.push(`Language: ${data.language_notes}`);\n  if (data.data_quality_notes) notes.push(`Data Quality: ${data.data_quality_notes}`);\n  if (data.intent_notes) notes.push(`Intent: ${data.intent_notes}`);\n  if (data.tool_notes) notes.push(`Tools: ${data.tool_notes}`);\n  if (data.quote_order_notes && data.quote_order_notes !== 'N/A for this intent') notes.push(`Quote/Order: ${data.quote_order_notes}`);\n  if (data.error_notes && data.error_notes !== 'No errors') notes.push(`Errors: ${data.error_notes}`);\n  \n  const scoringNotes = notes.join(' | ');\n  \n  results.push({\n    json: {\n      test_id: data.test_id,\n      intent: data.expected_intent,\n      query: data.query,\n      language: data.expected_language,\n      agent_response: data.actual_response,\n      http_status: data.http_status,\n      detected_language: data.detected_language,\n      intent_accuracy: intentAccuracy,\n      language_score: languageScore,\n      tool_usage_score: toolUsage,\n      data_quality_score: dataQuality,\n      quote_order_score: quoteOrder,\n      error_handling: errorHandling,\n      score: Math.round(finalScore * 1000) / 1000,\n      passed: passed,\n      checks_passed: checksPassed,\n      checks_failed: checksFailed,\n      checks_warnings: checksWarnings,\n      scoring_notes: scoringNotes,\n      evaluated_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "e7f8a9b0-c1d2-4345-e6f7-a8b9c0d12345",
      "name": "Aggregate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 520]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1WPXYbntB2SCWTmR4FnwaRnqhJb7kdNkYjF2KfAN43p4/edit?gid=0#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "outputs": {
          "values": [
            {
              "outputName": "test_id",
              "outputValue": "={{ $json.test_id }}"
            },
            {
              "outputName": "intent",
              "outputValue": "={{ $json.intent }}"
            },
            {
              "outputName": "query",
              "outputValue": "={{ $json.query }}"
            },
            {
              "outputName": "language",
              "outputValue": "={{ $json.language }}"
            },
            {
              "outputName": "agent_response",
              "outputValue": "={{ $json.agent_response }}"
            },
            {
              "outputName": "http_status",
              "outputValue": "={{ $json.http_status }}"
            },
            {
              "outputName": "detected_language",
              "outputValue": "={{ $json.detected_language }}"
            },
            {
              "outputName": "intent_accuracy",
              "outputValue": "={{ $json.intent_accuracy }}"
            },
            {
              "outputName": "language_score",
              "outputValue": "={{ $json.language_score }}"
            },
            {
              "outputName": "tool_usage_score",
              "outputValue": "={{ $json.tool_usage_score }}"
            },
            {
              "outputName": "data_quality_score",
              "outputValue": "={{ $json.data_quality_score }}"
            },
            {
              "outputName": "quote_order_score",
              "outputValue": "={{ $json.quote_order_score }}"
            },
            {
              "outputName": "error_handling",
              "outputValue": "={{ $json.error_handling }}"
            },
            {
              "outputName": "score",
              "outputValue": "={{ $json.score }}"
            },
            {
              "outputName": "passed",
              "outputValue": "={{ $json.passed }}"
            },
            {
              "outputName": "checks_passed",
              "outputValue": "={{ $json.checks_passed }}"
            },
            {
              "outputName": "checks_failed",
              "outputValue": "={{ $json.checks_failed }}"
            },
            {
              "outputName": "checks_warnings",
              "outputValue": "={{ $json.checks_warnings }}"
            },
            {
              "outputName": "scoring_notes",
              "outputValue": "={{ $json.scoring_notes }}"
            },
            {
              "outputName": "evaluated_at",
              "outputValue": "={{ $json.evaluated_at }}"
            }
          ]
        }
      },
      "id": "f8a9b0c1-d2e3-4456-f7a8-b9c0d1e23456",
      "name": "Set All Metrics",
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.7,
      "position": [2040, 520],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DbhUm6aWuB9yVNAm",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "a9b0c1d2-e3f4-4567-a8b9-c0d1e2f34567",
      "name": "Return Manual Test Result",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 1000]
    },
    {
      "parameters": {
        "content": "# Sales Assistant Evaluator\n\nThis workflow evaluates the Sales Assistant chatbot using comprehensive metrics:\n\n**Metrics (Weighted):**\n- Response Quality (25%) - Gemini evaluation of helpfulness\n- Language Consistency (20%) - PT-PT vs PT-BR compliance\n- Tool Usage (20%) - Proper use of tools vs hallucination\n- Data Quality (15%) - Grounded responses, no made-up data\n- Intent Accuracy (10%) - Response relevance to intent\n- Quote/Order Handling (5%) - Multi-turn conversation flow\n- Error Handling (5%) - HTTP status and error messages\n\n**Pass Threshold:** 70%\n\n**Critical Rule:** PT-BR detected when PT-PT expected = automatic fail on language metric\n\n**Setup:** Update the Google Sheets document ID to point to your uploaded test dataset CSV.",
        "height": 464,
        "width": 532,
        "color": 4
      },
      "id": "b0c1d2e3-f4a5-4678-b9c0-d1e2f3a45678",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [220, 100]
    }
  ],
  "connections": {
    "When fetching test case row": {
      "main": [
        [
          {
            "node": "Get Test Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Get Manual Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Test Input": {
      "main": [
        [
          {
            "node": "Call Sales Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Manual Input": {
      "main": [
        [
          {
            "node": "Call Sales Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sales Assistant": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Evaluation?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation?": {
      "main": [
        [
          {
            "node": "Calculate Intent Accuracy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Language Consistency",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Tool Usage",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Data Quality",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Quote/Order Handling",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Error Handling",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Response Quality",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Manual Test Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Intent Accuracy": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Language Consistency": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calculate Tool Usage": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Calculate Data Quality": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Calculate Quote/Order Handling": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Calculate Error Handling": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Calculate Response Quality": {
      "main": [
        [
          {
            "node": "Merge All Metrics",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Gemini Evaluator": {
      "ai_languageModel": [
        [
          {
            "node": "Calculate Response Quality",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Metrics": {
      "main": [
        [
          {
            "node": "Aggregate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Metrics": {
      "main": [
        [
          {
            "node": "Set All Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-03T12:00:00.000Z",
  "versionId": "1a2b3c4d-5e6f-7890-a1b2-c3d4e5f67890"
}
