MVP's/Assistente de Voz/Vapi - Send SMS Confirmation.json
{
  "updatedAt": "2026-02-07T05:10:16.303Z",
  "createdAt": "2026-01-26T16:16:09.420Z",
  "id": "7OwppSAjs5-RpGOLiPv8W",
  "name": "Vapi - Send SMS Confirmation",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-sms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ae66fbdb-67e2-4233-873b-e6393f864797",
      "name": "Webhook - Receive from Vapi",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "d838c01b-dd03-4d8d-9c0f-9f118a8337e6"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "phone_number",
              "value": "={{ $json.body.phone_number }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "message_type",
              "value": "={{ $json.body.message_type || 'confirmation' }}"
            },
            {
              "name": "customer_name",
              "value": "={{ $json.body.customer_name || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4ab4dd3a-cb25-45fe-b6fa-feae7d0b3cfb",
      "name": "Extract SMS Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "// Format phone number to international format if needed\nlet phone = $json.phone_number.toString().replace(/\\s+/g, '');\n\n// Add Portugal country code if not present\nif (!phone.startsWith('+')) {\n  if (phone.startsWith('00')) {\n    phone = '+' + phone.substring(2);\n  } else if (phone.startsWith('351')) {\n    phone = '+' + phone;\n  } else if (phone.startsWith('9') || phone.startsWith('2')) {\n    phone = '+351' + phone;\n  }\n}\n\n// Prepare message templates\nconst templates = {\n  'confirmation': `Olá${$json.customer_name ? ' ' + $json.customer_name : ''}! ${$json.message}`,\n  'reminder': `Lembrete: ${$json.message}`,\n  'cancellation': `Cancelamento: ${$json.message}`,\n  'custom': $json.message\n};\n\nconst messageType = $json.message_type || 'custom';\nconst finalMessage = templates[messageType] || $json.message;\n\nreturn {\n  to: phone,\n  message: finalMessage,\n  original_phone: $json.phone_number\n};"
      },
      "id": "40b432f5-c1c6-4185-a1b3-d88d8a55b3e0",
      "name": "Format SMS",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zadarma.com/v1/sms/send/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.to }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "792854c2-3bf1-435e-a62f-8ea64234f47c",
      "name": "Send SMS (Zadarma)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        608,
        176
      ],
      "notes": "Option 2: Zadarma - Since you already have Zadarma, you can use their SMS service. Enable only one SMS sender node."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "success",
              "value": "true"
            },
            {
              "name": "message",
              "value": "SMS enviado com sucesso para {{ $('Format SMS').item.json.to }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Format SMS').item.json.to }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3b188ae-c5bb-4e5b-af97-3eefc7fefa6b",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "d416a203-e00d-4eeb-9dbf-076d6f278f35",
      "name": "Respond to Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook - Receive from Vapi": {
      "main": [
        [
          {
            "node": "Extract SMS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SMS Data": {
      "main": [
        [
          {
            "node": "Format SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format SMS": {
      "main": [
        [
          {
            "node": "Send SMS (Zadarma)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9585e953-5867-422a-a818-66f31ef4aee9",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-26T16:16:09.420Z",
      "createdAt": "2026-01-26T16:16:09.420Z",
      "role": "workflow:owner",
      "workflowId": "7OwppSAjs5-RpGOLiPv8W",
      "projectId": "Ngf6hTAwSZXVFW0A",
      "project": {
        "updatedAt": "2026-01-22T23:42:59.496Z",
        "createdAt": "2026-01-22T23:41:53.441Z",
        "id": "Ngf6hTAwSZXVFW0A",
        "name": "André andrefloresbrasil@gmail.com <andrefloresbrasil@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T23:41:53.441Z",
            "createdAt": "2026-01-22T23:41:53.441Z",
            "userId": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
            "projectId": "Ngf6hTAwSZXVFW0A",
            "user": {
              "updatedAt": "2026-02-24T02:17:08.698Z",
              "createdAt": "2026-01-22T23:41:51.823Z",
              "id": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
              "email": "andrefloresbrasil@gmail.com",
              "firstName": "André",
              "lastName": "andrefloresbrasil@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T23:43:09.282Z",
                "personalization_survey_n8n_version": "2.4.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FxVMXrBqcRpFL2LSUxZF1",
                "userActivatedAt": 1769126574967,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769443602440
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
