MVP's/Assistente de Voz/Vapi - Check Calendar Availability.json
{
  "updatedAt": "2026-01-26T18:52:34.023Z",
  "createdAt": "2026-01-26T18:48:28.356Z",
  "id": "dnsVE5cAx6Uc9Yq80XCN0",
  "name": "Vapi - Check Calendar Availability",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-calendar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "301950cf-d3fa-4fb7-ac0e-124ba9215b72",
      "name": "Webhook - Receive from Vapi",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "0586d2e9-5e32-4086-a91f-27372ea895f6"
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados da requisição Vapi\nconst input = $input.item.json;\n\n// Vapi envia dados em body.message.toolCalls[0].function.arguments\nlet body;\nif (input.body?.message?.toolCalls?.[0]?.function?.arguments) {\n  body = input.body.message.toolCalls[0].function.arguments;\n} else if (input.body) {\n  // Fallback para formato direto\n  body = input.body;\n} else {\n  body = input;\n}\n\n// Validação de entrada\nif (!body.date) {\n  throw new Error('Parâmetro \"date\" é obrigatório');\n}\n\n// Parse da data e aplicar timezone Açores (Atlantic/Azores)\nlet targetDate;\ntry {\n  // Aceitar formato YYYY-MM-DD ou ISO\n  if (body.date.includes('T')) {\n    targetDate = new Date(body.date);\n  } else {\n    // Adicionar timezone dos Açores\n    targetDate = new Date(body.date + 'T00:00:00-01:00');\n  }\n  \n  if (isNaN(targetDate.getTime())) {\n    throw new Error('Formato de data inválido');\n  }\n} catch (e) {\n  throw new Error('Formato de data inválido. Use YYYY-MM-DD');\n}\n\n// Formatar para ISO com timezone dos Açores\nconst dateStr = body.date.includes('T') ? body.date.split('T')[0] : body.date;\n\nreturn {\n  date: dateStr,\n  timezone: 'Atlantic/Azores',\n  service_type: body.service_type || '',\n  original_request: body\n};"
      },
      "id": "3941bb48-6137-4e07-b28e-8e777ff8f81d",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $json.date }}T00:00:00-01:00",
          "timeMax": "={{ $json.date }}T23:59:59-01:00",
          "singleEvents": true,
          "orderBy": "startTime",
          "timeZone": "Atlantic/Azores"
        }
      },
      "id": "9aa339a7-fc73-4e0b-a7e4-390101886271",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "9Hmuua4o9ISXVo6x",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Define horário de trabalho (9h-18h) - timezone Açores\nconst workStart = 9;\nconst workEnd = 18;\nconst slotDuration = 60; // minutos\n\n// Obter eventos do calendário (pode estar vazio)\nconst events = $input.all();\n\n// Get date from previous node\nconst targetDate = $node['Extract Parameters'].json.date;\nconst timezone = 'Atlantic/Azores';\n\n// Gerar todos os slots possíveis do dia\nconst allSlots = [];\nfor (let hour = workStart; hour < workEnd; hour++) {\n  allSlots.push({\n    time: `${hour.toString().padStart(2, '0')}:00`,\n    duration: slotDuration\n  });\n}\n\n// Filtrar slots ocupados\nconst availableSlots = allSlots.filter(slot => {\n  const slotStart = new Date(`${targetDate}T${slot.time}:00-01:00`);\n  const slotEnd = new Date(slotStart.getTime() + slotDuration * 60000);\n  \n  // Verificar se slot conflita com algum evento existente\n  return !events.some(event => {\n    if (!event.json.start || !event.json.end) return false;\n    \n    const eventStart = new Date(event.json.start.dateTime || event.json.start.date);\n    const eventEnd = new Date(event.json.end.dateTime || event.json.end.date);\n    \n    return (slotStart < eventEnd && slotEnd > eventStart);\n  });\n});\n\nreturn {\n  available: availableSlots.length > 0,\n  date: targetDate,\n  timezone: timezone,\n  available_slots: availableSlots,\n  total_slots: availableSlots.length,\n  message: availableSlots.length > 0 \n    ? `Temos ${availableSlots.length} horário${availableSlots.length > 1 ? 's' : ''} disponível${availableSlots.length > 1 ? 'eis' : ''} para esse dia`\n    : `Não há horários disponíveis para esse dia. Por favor, escolha outra data.`\n};"
      },
      "id": "5c06c76c-deb9-4ea8-84e5-b27f8025f513",
      "name": "Calculate Available Slots",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Webhook - Receive from Vapi').item.json.body.message.toolCalls[0].id }}\",\n      \"result\": \"{{ $json.message }}. Horários disponíveis: {{ $json.available_slots.map(slot => slot.time).join(', ') }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "f272de1b-a717-4bf0-acf2-f143a09b6919",
      "name": "Respond to Vapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook - Receive from Vapi": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Get Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events": {
      "main": [
        [
          {
            "node": "Calculate Available Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Available Slots": {
      "main": [
        [
          {
            "node": "Respond to Vapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7cb3e000-152d-48e2-8c55-7c2d1092fb29",
  "activeVersionId": null,
  "versionCounter": 4,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-26T18:48:28.356Z",
      "createdAt": "2026-01-26T18:48:28.356Z",
      "role": "workflow:owner",
      "workflowId": "dnsVE5cAx6Uc9Yq80XCN0",
      "projectId": "Ngf6hTAwSZXVFW0A",
      "project": {
        "updatedAt": "2026-01-22T23:42:59.496Z",
        "createdAt": "2026-01-22T23:41:53.441Z",
        "id": "Ngf6hTAwSZXVFW0A",
        "name": "André andrefloresbrasil@gmail.com <andrefloresbrasil@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T23:41:53.441Z",
            "createdAt": "2026-01-22T23:41:53.441Z",
            "userId": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
            "projectId": "Ngf6hTAwSZXVFW0A",
            "user": {
              "updatedAt": "2026-02-24T02:17:08.698Z",
              "createdAt": "2026-01-22T23:41:51.823Z",
              "id": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
              "email": "andrefloresbrasil@gmail.com",
              "firstName": "André",
              "lastName": "andrefloresbrasil@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T23:43:09.282Z",
                "personalization_survey_n8n_version": "2.4.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FxVMXrBqcRpFL2LSUxZF1",
                "userActivatedAt": 1769126574967,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769443602440
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
