MVP's/Assistente Whatsapp/WA Dashboard API.json
{
  "name": "WA Dashboard API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-dashboard-api",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "https://n8n.descomplicador.pt"
              }
            ]
          }
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000001",
      "name": "Dashboard Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -528,
        304
      ],
      "webhookId": "wa-dash-0001-0001-0001-aaaaaaaaaaaa"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || {};\nconst headers = input.headers || {};\n\nconst apiKey = headers['x-dashboard-key'] || '';\nif (apiKey !== $env.WA_DASHBOARD_KEY) {\n  return [{ json: { error: 'Unauthorized', status: 401 } }];\n}\n\nconst action = body.action || 'conversations';\nconst phone = (body.phone || '').replace(/[^0-9+]/g, '');\nconst message = (body.message || '').substring(0, 4096);\nconst since = body.since || null;\nconst duration = Math.min(Math.max(Number(body.duration) || 1, 0.25), 24);\n\nif (['messages', 'reply', 'takeover', 'resume'].includes(action) && (phone.length < 7 || phone.length > 20)) {\n  return [{ json: { error: 'Invalid phone number', status: 400 } }];\n}\nif (action === 'reply' && (!message || message.trim().length === 0)) {\n  return [{ json: { error: 'Message is required', status: 400 } }];\n}\n\nreturn [{ json: { action, phone, message, since, duration, authorized: true } }];"
      },
      "id": "wa-dash-0001-0001-0001-000000000002",
      "name": "Auth & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error || '' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "unauthorized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "conversations",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversations"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "messages",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "messages"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reply"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "takeover",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "takeover"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "resume",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "get-config",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "get-config"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update-config",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update-config"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000003",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -192,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.error }) }}",
        "options": {
          "responseCode": "={{ $json.status || 401 }}"
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000004",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        48,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH latest AS (SELECT DISTINCT ON (phone_number) phone_number, contact_name, message_text AS last_message, direction AS last_direction, created_at AS last_message_at FROM wa_messages ORDER BY phone_number, created_at DESC, id DESC) SELECT l.phone_number, l.contact_name, l.last_message_at, l.last_message, l.last_direction, c.message_count, CASE WHEN p.paused_until > NOW() THEN true ELSE false END AS is_paused, p.paused_until FROM latest l JOIN (SELECT phone_number, COUNT(*) AS message_count FROM wa_messages GROUP BY phone_number) c ON c.phone_number = l.phone_number LEFT JOIN wa_paused_conversations p ON p.phone_number = l.phone_number ORDER BY l.last_message_at DESC LIMIT 50",
        "options": {}
      },
      "id": "wa-dash-0001-0001-0001-000000000005",
      "name": "Query Conversations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        48,
        -48
      ],
      "credentials": {
        "postgres": {
          "id": "MgTypMJu0jyDu7Zb",
          "name": "n8n PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, phone_number, contact_name, direction, message_text, intent, is_human_reply, created_at FROM wa_messages WHERE phone_number = $1 ORDER BY created_at ASC, id ASC LIMIT 500",
        "options": {
          "queryReplacement": "={{ $json.phone }}"
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000006",
      "name": "Query Messages",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        48,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "MgTypMJu0jyDu7Zb",
          "name": "n8n PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.phone, type: 'text', text: { body: $json.message } }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000007",
      "name": "Send WA Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        272
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "wa_messages",
          "cachedResultName": "wa_messages"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone_number": "={{ $('Auth & Parse').first().json.phone }}",
            "direction": "out",
            "message_text": "={{ $('Auth & Parse').first().json.message }}",
            "is_human_reply": "true"
          }
        },
        "options": {}
      },
      "id": "wa-dash-0001-0001-0001-000000000008",
      "name": "Log Human Reply",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        288,
        272
      ],
      "credentials": {
        "postgres": {
          "id": "MgTypMJu0jyDu7Zb",
          "name": "n8n PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000009",
      "name": "Respond Conversations",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        288,
        -48
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000010",
      "name": "Respond Messages",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        288,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: !!$('Send WA Message').first().json.messages, error: $('Send WA Message').first().json.error ? ($('Send WA Message').first().json.error.message || 'WhatsApp API error') : null }) }}",
        "options": {
          "responseCode": "={{ $('Send WA Message').first().json.messages ? 200 : 500 }}"
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000011",
      "name": "Respond Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        528,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Unknown action' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000012",
      "name": "Respond Unknown",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        48,
        432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO wa_paused_conversations (phone_number, paused_until) VALUES ($1, NOW() + ($2 || ' hours')::interval) ON CONFLICT (phone_number) DO UPDATE SET paused_at = NOW(), paused_until = NOW() + ($2 || ' hours')::interval",
        "options": {
          "queryReplacement": "={{ $json.phone }},={{ $json.duration }}"
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000013",
      "name": "Pause Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        48,
        592
      ],
      "credentials": {
        "postgres": {
          "id": "MgTypMJu0jyDu7Zb",
          "name": "n8n PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, paused_until: (new Date(Date.now() + $('Auth & Parse').first().json.duration * 3600000)).toISOString() }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000014",
      "name": "Respond Takeover",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        288,
        592
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM wa_paused_conversations WHERE phone_number = $1",
        "options": {
          "queryReplacement": "={{ $json.phone }}"
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000015",
      "name": "Resume Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        48,
        752
      ],
      "credentials": {
        "postgres": {
          "id": "MgTypMJu0jyDu7Zb",
          "name": "n8n PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, resumed: true }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000016",
      "name": "Respond Resume",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        288,
        752
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT enabled, schedule FROM wa_bot_config WHERE id = 1",
        "options": {}
      },
      "id": "wa-dash-0001-0001-0001-000000000017",
      "name": "Query Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        48,
        912
      ],
      "credentials": {
        "postgres": {
          "id": "MgTypMJu0jyDu7Zb",
          "name": "n8n PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ enabled: $json.enabled, schedule: $json.schedule || [] }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000018",
      "name": "Respond Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        288,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $('Dashboard Webhook').first().json.body || {};\n\nconst updates = [];\n\nif (typeof body.enabled === 'boolean') {\n  updates.push(`enabled = ${body.enabled}`);\n}\n\nif (body.schedule !== undefined) {\n  const escaped = JSON.stringify(body.schedule).replace(/'/g, \"''\");\n  updates.push(`schedule = '${escaped}'::jsonb`);\n}\n\nif (updates.length === 0) {\n  return [{ json: { query: 'SELECT enabled, schedule FROM wa_bot_config WHERE id = 1' } }];\n}\n\nupdates.push('updated_at = NOW()');\nconst query = `UPDATE wa_bot_config SET ${updates.join(', ')} WHERE id = 1 RETURNING enabled, schedule`;\n\nreturn [{ json: { query } }];"
      },
      "id": "wa-dash-0001-0001-0001-000000000019",
      "name": "Build Update Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1072
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "wa-dash-0001-0001-0001-000000000020",
      "name": "Execute Update Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        288,
        1072
      ],
      "credentials": {
        "postgres": {
          "id": "MgTypMJu0jyDu7Zb",
          "name": "n8n PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, enabled: $json.enabled, schedule: $json.schedule || [] }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "wa-dash-0001-0001-0001-000000000021",
      "name": "Respond Update Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        528,
        1072
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Dashboard Webhook": {
      "main": [
        [
          {
            "node": "Auth & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth & Parse": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Conversations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WA Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pause Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resume Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Update Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause Conversation": {
      "main": [
        [
          {
            "node": "Respond Takeover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Conversation": {
      "main": [
        [
          {
            "node": "Respond Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Conversations": {
      "main": [
        [
          {
            "node": "Respond Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Messages": {
      "main": [
        [
          {
            "node": "Respond Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WA Message": {
      "main": [
        [
          {
            "node": "Log Human Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Human Reply": {
      "main": [
        [
          {
            "node": "Respond Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Config": {
      "main": [
        [
          {
            "node": "Respond Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Query": {
      "main": [
        [
          {
            "node": "Execute Update Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Update Config": {
      "main": [
        [
          {
            "node": "Respond Update Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "TPPQG2kMx9dcdNfU",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "36b0185a-6fc7-4913-be4f-6ab6a81d5957",
  "meta": {
    "instanceId": "dca77fc72a32c4060c488743966c023ff2c7991e176c0cf1c3ff3e34972b5da5"
  },
  "id": "yal3HGgtmq3ZLIzg",
  "tags": []
}