Ralph projects/business-dashboard/workflows/data-collector.json
{
  "name": "Dashboard Data Collector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "name": "Schedule - Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-refresh",
        "responseMode": "responseNode"
      },
      "name": "Webhook - Manual Refresh",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        500
      ],
      "webhookId": "dashboard-refresh",
      "id": "webhook-trigger"
    },
    {
      "parameters": {},
      "name": "Merge Triggers",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        450,
        400
      ],
      "id": "merge-triggers"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Vendas",
          "mode": "name"
        },
        "options": {
          "range": "A:F"
        }
      },
      "name": "Google Sheets - Vendas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        650,
        200
      ],
      "id": "sheets-vendas",
      "notes": "PLACEHOLDER: Replace with ERP connector (Artsoft, Primavera, Sage, etc.)"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Tarefas",
          "mode": "name"
        },
        "options": {
          "range": "A:E"
        }
      },
      "name": "Google Sheets - Tarefas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        650,
        350
      ],
      "id": "sheets-tarefas",
      "notes": "PLACEHOLDER: Replace with Task Management System connector"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Stock",
          "mode": "name"
        },
        "options": {
          "range": "A:F"
        }
      },
      "name": "Google Sheets - Stock",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        650,
        500
      ],
      "id": "sheets-stock",
      "notes": "PLACEHOLDER: Replace with Inventory System connector"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Equipa",
          "mode": "name"
        },
        "options": {
          "range": "A:F"
        }
      },
      "name": "Google Sheets - Equipa",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        650,
        650
      ],
      "id": "sheets-equipa",
      "notes": "PLACEHOLDER: Replace with HR/Time Tracking System"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Email Metrics",
          "mode": "name"
        },
        "options": {
          "range": "A:E"
        }
      },
      "name": "Google Sheets - Email",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        650,
        800
      ],
      "id": "sheets-email",
      "notes": "PLACEHOLDER: Replace with Email System connector (Gmail API, Outlook, etc.)"
    },
    {
      "parameters": {
        "jsCode": "// Process and aggregate all data sources\n// NOTE: This code contains template literals - edit directly in n8n\n// See workflows/data-processor.js for the full unescaped code\nreturn { json: { message: 'Edit this node in n8n to add full data processing logic' } };"
      },
      "name": "Process & Aggregate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ],
      "id": "process-data",
      "notes": "IMPORTANT: Import this workflow in n8n and edit this Code node.\nFull processing logic available in docs/data-processor-code.md"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ],
      "id": "respond-webhook"
    }
  ],
  "connections": {
    "Schedule - Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Manual Refresh": {
      "main": [
        [
          {
            "node": "Merge Triggers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Triggers": {
      "main": [
        [
          {
            "node": "Google Sheets - Vendas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Tarefas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Stock",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Equipa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Vendas": {
      "main": [
        [
          {
            "node": "Process & Aggregate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Tarefas": {
      "main": [
        [
          {
            "node": "Process & Aggregate Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Sheets - Stock": {
      "main": [
        [
          {
            "node": "Process & Aggregate Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Google Sheets - Equipa": {
      "main": [
        [
          {
            "node": "Process & Aggregate Data",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Google Sheets - Email": {
      "main": [
        [
          {
            "node": "Process & Aggregate Data",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Process & Aggregate Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-02-10T00:00:00.000Z",
  "versionId": "1"
}