Ralph projects/business-dashboard/workflows/report-generator.json
{
  "name": "Dashboard Report Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-report",
        "responseMode": "responseNode"
      },
      "name": "Webhook - Generate Report",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "generate-report"
    },
    {
      "parameters": {
        "jsCode": "const { startDate, endDate } = $input.first().json;\nreturn {\n  json: {\n    startDate,\n    endDate,\n    formattedStart: new Date(startDate).toLocaleDateString('pt-PT'),\n    formattedEnd: new Date(endDate).toLocaleDateString('pt-PT')\n  }\n};"
      },
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Vendas",
          "mode": "name"
        }
      },
      "name": "Fetch Sales Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 200],
      "notes": "PLACEHOLDER: Replace with ERP system connector"
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML report\nconst { startDate, endDate, formattedStart, formattedEnd } = $input.first().json;\nconst salesData = $input.all();\n\n// Calculate metrics\nconst totalRevenue = salesData.reduce((sum, row) => sum + (parseFloat(row.json.Amount) || 0), 0);\nconst totalOrders = salesData.length;\nconst avgTicket = totalOrders > 0 ? totalRevenue / totalOrders : 0;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Relatório de Negócios</title>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 40px; color: #333; }\n    .header { border-bottom: 3px solid #2563eb; padding-bottom: 20px; margin-bottom: 30px; }\n    h1 { color: #2563eb; margin: 0; }\n    .period { color: #666; font-size: 14px; margin-top: 10px; }\n    .metrics { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; margin: 30px 0; }\n    .metric-card { background: #f3f4f6; padding: 20px; border-radius: 8px; }\n    .metric-label { font-size: 12px; color: #666; text-transform: uppercase; }\n    .metric-value { font-size: 28px; font-weight: bold; color: #111; margin-top: 10px; }\n    .section { margin: 40px 0; }\n    .section-title { font-size: 18px; font-weight: bold; margin-bottom: 15px; border-left: 4px solid #2563eb; padding-left: 10px; }\n    table { width: 100%; border-collapse: collapse; }\n    th, td { text-align: left; padding: 12px; border-bottom: 1px solid #e5e7eb; }\n    th { background: #f9fafb; font-weight: 600; color: #374151; }\n    .footer { margin-top: 50px; padding-top: 20px; border-top: 1px solid #e5e7eb; text-align: center; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Relatório de Negócios</h1>\n    <div class=\"period\">Período: ${formattedStart} - ${formattedEnd}</div>\n    <div class=\"period\">Gerado em: ${new Date().toLocaleString('pt-PT')}</div>\n  </div>\n\n  <div class=\"metrics\">\n    <div class=\"metric-card\">\n      <div class=\"metric-label\">Receita Total</div>\n      <div class=\"metric-value\">€${totalRevenue.toFixed(2)}</div>\n    </div>\n    <div class=\"metric-card\">\n      <div class=\"metric-label\">Total de Pedidos</div>\n      <div class=\"metric-value\">${totalOrders}</div>\n    </div>\n    <div class=\"metric-card\">\n      <div class=\"metric-label\">Ticket Médio</div>\n      <div class=\"metric-value\">€${avgTicket.toFixed(2)}</div>\n    </div>\n  </div>\n\n  <div class=\"section\">\n    <div class=\"section-title\">Vendas Detalhadas</div>\n    <table>\n      <thead>\n        <tr>\n          <th>Data</th>\n          <th>ID Pedido</th>\n          <th>Cliente</th>\n          <th>Valor</th>\n          <th>Estado</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${salesData.slice(0, 50).map(row => `\n          <tr>\n            <td>${row.json.Date || '-'}</td>\n            <td>${row.json.OrderID || '-'}</td>\n            <td>${row.json.Customer || '-'}</td>\n            <td>€${parseFloat(row.json.Amount || 0).toFixed(2)}</td>\n            <td>${row.json.Status || '-'}</td>\n          </tr>\n        `).join('')}\n      </tbody>\n    </table>\n  </div>\n\n  <div class=\"footer\">\n    <p>Dashboard de Negócios &copy; 2026 | Relatório gerado automaticamente</p>\n  </div>\n</body>\n</html>\n`;\n\nreturn { json: { html, fileName: `relatorio-${startDate}-${endDate}.pdf` } };"
      },
      "name": "Generate HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "htmlToPdf",
        "html": "={{ $json.html }}",
        "options": {
          "format": "A4",
          "margin": {
            "top": "20",
            "right": "20",
            "bottom": "20",
            "left": "20"
          }
        }
      },
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [1050, 300],
      "notes": "Uses headless browser to convert HTML to PDF"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "binaryPropertyName": "data",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"{{ $json.fileName }}\""
              }
            ]
          }
        }
      },
      "name": "Return PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook - Generate Report": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Fetch Sales Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sales Data": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Report": {
      "main": [
        [
          {
            "node": "Convert to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF": {
      "main": [
        [
          {
            "node": "Return PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
