Ralph projects/descomplica-workflows/raw/workflow-jzTgVLVM1SKzfT8N.json
{"updatedAt":"2026-02-08T05:24:10.337Z","createdAt":"2026-02-08T00:17:09.910Z","id":"jzTgVLVM1SKzfT8N","name":"WhatsApp Webhook Verify","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"GET","path":"whatsapp-sales","responseMode":"responseNode","options":{}},"id":"f1a2b3c4-wv01-4001-a001-000000000001","name":"Webhook GET","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"f1a2b3c4-wv01-4001-a001-aaaaaaaaaaaa"},{"parameters":{"jsCode":"const query = $input.first().json.query || {};\nconst mode = query['hub.mode'];\nconst token = query['hub.verify_token'];\nconst challenge = query['hub.challenge'];\n\nif (mode === 'subscribe' && token === $env.WHATSAPP_VERIFY_TOKEN) {\n  return [{ json: { challenge: String(challenge) } }];\n} else {\n  throw new Error('Webhook verification failed: token mismatch');\n}"},"id":"f1a2b3c4-wv01-4001-a001-000000000002","name":"Verify Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.challenge }}","options":{"responseCode":200}},"id":"f1a2b3c4-wv01-4001-a001-000000000003","name":"Respond Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[480,0]}],"connections":{"Webhook GET":{"main":[[{"node":"Verify Token","type":"main","index":0}]]},"Verify Token":{"main":[[{"node":"Respond Challenge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a828864c-4666-4abc-b77e-cd44e4c6ecc1","activeVersionId":"a828864c-4666-4abc-b77e-cd44e4c6ecc1","versionCounter":11,"triggerCount":1,"shared":[{"updatedAt":"2026-02-08T00:17:09.910Z","createdAt":"2026-02-08T00:17:09.910Z","role":"workflow:owner","workflowId":"jzTgVLVM1SKzfT8N","projectId":"Ngf6hTAwSZXVFW0A","project":{"updatedAt":"2026-01-22T23:42:59.496Z","createdAt":"2026-01-22T23:41:53.441Z","id":"Ngf6hTAwSZXVFW0A","name":"André andrefloresbrasil@gmail.com <andrefloresbrasil@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b","projectRelations":[{"updatedAt":"2026-01-22T23:41:53.441Z","createdAt":"2026-01-22T23:41:53.441Z","userId":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b","projectId":"Ngf6hTAwSZXVFW0A","user":{"updatedAt":"2026-02-09T03:20:47.799Z","createdAt":"2026-01-22T23:41:51.823Z","id":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b","email":"andrefloresbrasil@gmail.com","firstName":"André","lastName":"andrefloresbrasil@gmail.com","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-22T23:43:09.282Z","personalization_survey_n8n_version":"2.4.5","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"FxVMXrBqcRpFL2LSUxZF1","userActivatedAt":1769126574967,"npsSurvey":{"responded":true,"lastShownAt":1769443602440}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-08T00:17:09.910Z","createdAt":"2026-02-08T00:17:09.910Z","versionId":"a828864c-4666-4abc-b77e-cd44e4c6ecc1","workflowId":"jzTgVLVM1SKzfT8N","nodes":[{"parameters":{"httpMethod":"GET","path":"whatsapp-sales","responseMode":"responseNode","options":{}},"id":"f1a2b3c4-wv01-4001-a001-000000000001","name":"Webhook GET","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"f1a2b3c4-wv01-4001-a001-aaaaaaaaaaaa"},{"parameters":{"jsCode":"const query = $input.first().json.query || {};\nconst mode = query['hub.mode'];\nconst token = query['hub.verify_token'];\nconst challenge = query['hub.challenge'];\n\nif (mode === 'subscribe' && token === $env.WHATSAPP_VERIFY_TOKEN) {\n  return [{ json: { challenge: String(challenge) } }];\n} else {\n  throw new Error('Webhook verification failed: token mismatch');\n}"},"id":"f1a2b3c4-wv01-4001-a001-000000000002","name":"Verify Token","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0]},{"parameters":{"respondWith":"text","responseBody":"={{ $json.challenge }}","options":{"responseCode":200}},"id":"f1a2b3c4-wv01-4001-a001-000000000003","name":"Respond Challenge","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[480,0]}],"connections":{"Webhook GET":{"main":[[{"node":"Verify Token","type":"main","index":0}]]},"Verify Token":{"main":[[{"node":"Respond Challenge","type":"main","index":0}]]}},"authors":"import","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-08T00:19:55.627Z","id":333,"workflowId":"jzTgVLVM1SKzfT8N","versionId":"a828864c-4666-4abc-b77e-cd44e4c6ecc1","event":"activated","userId":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b"}]}}