Ralph projects/descomplica-workflows/raw/workflow-jhJEokwjIIeyTw1L-qXsV.json
{"updatedAt":"2026-02-06T13:00:05.791Z","createdAt":"2026-02-06T13:00:01.684Z","id":"jhJEokwjIIeyTw1L-qXsV","name":"Vapi - Transfer Call to Human","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"transfer-call-v3","responseMode":"responseNode","options":{}},"id":"9dfa1701-de46-4199-a334-1122a32f13eb","name":"Webhook - Receive from Vapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"webhookId":"1c59058e-c738-4f33-b789-59f1b8b5b21f"},{"parameters":{"jsCode":"// Auth check\nconst input = $input.item.json;\nconst headers = input.headers || {};\nconst vapiSecret = headers['x-vapi-secret'] || '';\ntry {\n  const expected = process.env.VAPI_WEBHOOK_SECRET || '';\n  if (expected && vapiSecret !== expected) {\n    return { _error: true, errorMessage: 'Pedido nao autorizado.', toolCallId: '' };\n  }\n} catch (e) {}\n\n// Extract toolCallId first\nlet toolCallId = '';\ntry {\n  toolCallId = input.body?.message?.toolCalls?.[0]?.id || '';\n} catch (e) {}\n\ntry {\n  // Extract body from Vapi format\n  let body;\n  if (input.body?.message?.toolCalls?.[0]?.function?.arguments) {\n    body = input.body.message.toolCalls[0].function.arguments;\n  } else if (input.body) {\n    body = input.body;\n  } else {\n    body = input;\n  }\n\n  const reason = body.reason || 'Cliente solicitou atendimento humano';\n  const department = (body.department || 'geral').toLowerCase();\n\n  // Validate department\n  const validDepartments = ['geral', 'general', 'sales', 'vendas', 'support', 'suporte', 'technical', 'tecnico', 'billing', 'faturacao'];\n  const finalDepartment = validDepartments.includes(department) ? department : 'geral';\n\n  // Map departments to phone numbers\n  const defaultPhone = '+351926874141';\n  const departmentPhones = {\n    'geral': defaultPhone, 'general': defaultPhone,\n    'sales': defaultPhone, 'vendas': defaultPhone,\n    'support': defaultPhone, 'suporte': defaultPhone,\n    'technical': defaultPhone, 'tecnico': defaultPhone,\n    'billing': defaultPhone, 'faturacao': defaultPhone\n  };\n  const transferNumber = departmentPhones[finalDepartment] || defaultPhone;\n\n  // Map department names to pt-PT\n  const departmentNames = {\n    'geral': 'Atendimento Geral', 'general': 'Atendimento Geral',\n    'sales': 'Vendas', 'vendas': 'Vendas',\n    'support': 'Suporte', 'suporte': 'Suporte',\n    'technical': 'Suporte Tecnico', 'tecnico': 'Suporte Tecnico',\n    'billing': 'Faturacao', 'faturacao': 'Faturacao'\n  };\n  const departmentName = departmentNames[finalDepartment] || 'Atendimento Geral';\n\n  return {\n    _error: false,\n    call_id: body.call_id || 'unknown',\n    reason: reason,\n    department: finalDepartment,\n    department_name: departmentName,\n    transfer_to: transferNumber,\n    customer_name: body.customer_name || '',\n    customer_phone: body.customer_phone || '',\n    context: body.context || '',\n    toolCallId: toolCallId\n  };\n} catch (err) {\n  return { _error: true, errorMessage: 'Ocorreu um erro ao processar a transferencia. Por favor, tente novamente.', toolCallId };\n}"},"id":"842b0b66-c646-4997-bdf9-5f93a9cc54fb","name":"Extract & Validate Transfer","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"b1c2d3e4-0007-4000-8000-000000000001","leftValue":"={{ $json._error }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"1ed9a81f-a332-413c-bd41-5b3cfbb7b2b8","name":"Check for Errors","type":"n8n-nodes-base.if","typeVersion":2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ { results: [{ toolCallId: $json.toolCallId || '', result: $json.errorMessage }] } }}","options":{}},"id":"44c204af-af63-46c7-ace2-c5bcc55bcbc6","name":"Respond Error to Vapi","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[672,240]},{"parameters":{"respondWith":"json","responseBody":"={{ { results: [{ toolCallId: $json.toolCallId || '', result: JSON.stringify({ transfer: true, destination: $json.transfer_to, department: $json.department_name, message: 'Vou transferir a sua chamada para ' + $json.department_name + '. Por favor, aguarde um momento.' }) }] } }}","options":{}},"id":"778acafc-c473-4fdd-969e-15dc1bf8692f","name":"Respond to Vapi","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[672,0],"notes":"Returns structured JSON in result field with transfer: true, destination number, and message. The Vapi assistant prompt should parse this to initiate the actual SIP transfer."},{"parameters":{"sendTo":"andrefloresbrasil@gmail.com","subject":"=Transferencia de Chamada - {{ $json.department_name }}","emailType":"text","message":"=Uma chamada foi transferida para atendimento humano.\n\nDETALHES DA TRANSFERENCIA:\nDepartamento: {{ $json.department_name }}\nNumero de destino: {{ $json.transfer_to }}\n\nMOTIVO DA TRANSFERENCIA:\n{{ $json.reason }}\n\n{{ $json.customer_name ? 'CLIENTE:\nNome: ' + $json.customer_name : '' }}\n{{ $json.customer_phone ? 'Telefone: ' + $json.customer_phone : '' }}\n\n{{ $json.context ? 'CONTEXTO DA CONVERSA:\n' + $json.context : 'Sem contexto adicional disponivel' }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[672,400],"id":"2c3fb83f-48ed-4750-b64c-59532e9bf8f7","name":"Send Transfer Notification","retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"webhookId":"25b3a70e-1f86-46d6-91ac-215c00f0cf0a","credentials":{"gmailOAuth2":{"id":"wAMRJTfnApwY7RS6","name":"Gmail account"}},"continueOnFail":true}],"connections":{"Webhook - Receive from Vapi":{"main":[[{"node":"Extract & Validate Transfer","type":"main","index":0}]]},"Extract & Validate Transfer":{"main":[[{"node":"Check for Errors","type":"main","index":0}]]},"Check for Errors":{"main":[[{"node":"Respond Error to Vapi","type":"main","index":0}],[{"node":"Respond to Vapi","type":"main","index":0},{"node":"Send Transfer Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"747eba20-93ed-490a-bcce-167d8cf33279","activeVersionId":"747eba20-93ed-490a-bcce-167d8cf33279","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2026-02-06T13:00:01.684Z","createdAt":"2026-02-06T13:00:01.684Z","role":"workflow:owner","workflowId":"jhJEokwjIIeyTw1L-qXsV","projectId":"Ngf6hTAwSZXVFW0A","project":{"updatedAt":"2026-01-22T23:42:59.496Z","createdAt":"2026-01-22T23:41:53.441Z","id":"Ngf6hTAwSZXVFW0A","name":"André andrefloresbrasil@gmail.com <andrefloresbrasil@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b","projectRelations":[{"updatedAt":"2026-01-22T23:41:53.441Z","createdAt":"2026-01-22T23:41:53.441Z","userId":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b","projectId":"Ngf6hTAwSZXVFW0A","user":{"updatedAt":"2026-02-09T03:20:47.799Z","createdAt":"2026-01-22T23:41:51.823Z","id":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b","email":"andrefloresbrasil@gmail.com","firstName":"André","lastName":"andrefloresbrasil@gmail.com","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-22T23:43:09.282Z","personalization_survey_n8n_version":"2.4.5","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"FxVMXrBqcRpFL2LSUxZF1","userActivatedAt":1769126574967,"npsSurvey":{"responded":true,"lastShownAt":1769443602440}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-06T13:00:08.405Z","createdAt":"2026-02-06T13:00:05.793Z","versionId":"747eba20-93ed-490a-bcce-167d8cf33279","workflowId":"jhJEokwjIIeyTw1L-qXsV","nodes":[{"parameters":{"httpMethod":"POST","path":"transfer-call-v3","responseMode":"responseNode","options":{}},"id":"9dfa1701-de46-4199-a334-1122a32f13eb","name":"Webhook - Receive from Vapi","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"webhookId":"1c59058e-c738-4f33-b789-59f1b8b5b21f"},{"parameters":{"jsCode":"// Auth check\nconst input = $input.item.json;\nconst headers = input.headers || {};\nconst vapiSecret = headers['x-vapi-secret'] || '';\ntry {\n  const expected = process.env.VAPI_WEBHOOK_SECRET || '';\n  if (expected && vapiSecret !== expected) {\n    return { _error: true, errorMessage: 'Pedido nao autorizado.', toolCallId: '' };\n  }\n} catch (e) {}\n\n// Extract toolCallId first\nlet toolCallId = '';\ntry {\n  toolCallId = input.body?.message?.toolCalls?.[0]?.id || '';\n} catch (e) {}\n\ntry {\n  // Extract body from Vapi format\n  let body;\n  if (input.body?.message?.toolCalls?.[0]?.function?.arguments) {\n    body = input.body.message.toolCalls[0].function.arguments;\n  } else if (input.body) {\n    body = input.body;\n  } else {\n    body = input;\n  }\n\n  const reason = body.reason || 'Cliente solicitou atendimento humano';\n  const department = (body.department || 'geral').toLowerCase();\n\n  // Validate department\n  const validDepartments = ['geral', 'general', 'sales', 'vendas', 'support', 'suporte', 'technical', 'tecnico', 'billing', 'faturacao'];\n  const finalDepartment = validDepartments.includes(department) ? department : 'geral';\n\n  // Map departments to phone numbers\n  const defaultPhone = '+351926874141';\n  const departmentPhones = {\n    'geral': defaultPhone, 'general': defaultPhone,\n    'sales': defaultPhone, 'vendas': defaultPhone,\n    'support': defaultPhone, 'suporte': defaultPhone,\n    'technical': defaultPhone, 'tecnico': defaultPhone,\n    'billing': defaultPhone, 'faturacao': defaultPhone\n  };\n  const transferNumber = departmentPhones[finalDepartment] || defaultPhone;\n\n  // Map department names to pt-PT\n  const departmentNames = {\n    'geral': 'Atendimento Geral', 'general': 'Atendimento Geral',\n    'sales': 'Vendas', 'vendas': 'Vendas',\n    'support': 'Suporte', 'suporte': 'Suporte',\n    'technical': 'Suporte Tecnico', 'tecnico': 'Suporte Tecnico',\n    'billing': 'Faturacao', 'faturacao': 'Faturacao'\n  };\n  const departmentName = departmentNames[finalDepartment] || 'Atendimento Geral';\n\n  return {\n    _error: false,\n    call_id: body.call_id || 'unknown',\n    reason: reason,\n    department: finalDepartment,\n    department_name: departmentName,\n    transfer_to: transferNumber,\n    customer_name: body.customer_name || '',\n    customer_phone: body.customer_phone || '',\n    context: body.context || '',\n    toolCallId: toolCallId\n  };\n} catch (err) {\n  return { _error: true, errorMessage: 'Ocorreu um erro ao processar a transferencia. Por favor, tente novamente.', toolCallId };\n}"},"id":"842b0b66-c646-4997-bdf9-5f93a9cc54fb","name":"Extract & Validate Transfer","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"id":"b1c2d3e4-0007-4000-8000-000000000001","leftValue":"={{ $json._error }}","rightValue":"","operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"1ed9a81f-a332-413c-bd41-5b3cfbb7b2b8","name":"Check for Errors","type":"n8n-nodes-base.if","typeVersion":2,"position":[448,0]},{"parameters":{"respondWith":"json","responseBody":"={{ { results: [{ toolCallId: $json.toolCallId || '', result: $json.errorMessage }] } }}","options":{}},"id":"44c204af-af63-46c7-ace2-c5bcc55bcbc6","name":"Respond Error to Vapi","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[672,240]},{"parameters":{"respondWith":"json","responseBody":"={{ { results: [{ toolCallId: $json.toolCallId || '', result: JSON.stringify({ transfer: true, destination: $json.transfer_to, department: $json.department_name, message: 'Vou transferir a sua chamada para ' + $json.department_name + '. Por favor, aguarde um momento.' }) }] } }}","options":{}},"id":"778acafc-c473-4fdd-969e-15dc1bf8692f","name":"Respond to Vapi","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[672,0],"notes":"Returns structured JSON in result field with transfer: true, destination number, and message. The Vapi assistant prompt should parse this to initiate the actual SIP transfer."},{"parameters":{"sendTo":"andrefloresbrasil@gmail.com","subject":"=Transferencia de Chamada - {{ $json.department_name }}","emailType":"text","message":"=Uma chamada foi transferida para atendimento humano.\n\nDETALHES DA TRANSFERENCIA:\nDepartamento: {{ $json.department_name }}\nNumero de destino: {{ $json.transfer_to }}\n\nMOTIVO DA TRANSFERENCIA:\n{{ $json.reason }}\n\n{{ $json.customer_name ? 'CLIENTE:\nNome: ' + $json.customer_name : '' }}\n{{ $json.customer_phone ? 'Telefone: ' + $json.customer_phone : '' }}\n\n{{ $json.context ? 'CONTEXTO DA CONVERSA:\n' + $json.context : 'Sem contexto adicional disponivel' }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[672,400],"id":"2c3fb83f-48ed-4750-b64c-59532e9bf8f7","name":"Send Transfer Notification","retryOnFail":true,"maxTries":2,"waitBetweenTries":2000,"webhookId":"25b3a70e-1f86-46d6-91ac-215c00f0cf0a","credentials":{"gmailOAuth2":{"id":"wAMRJTfnApwY7RS6","name":"Gmail account"}},"continueOnFail":true}],"connections":{"Webhook - Receive from Vapi":{"main":[[{"node":"Extract & Validate Transfer","type":"main","index":0}]]},"Extract & Validate Transfer":{"main":[[{"node":"Check for Errors","type":"main","index":0}]]},"Check for Errors":{"main":[[{"node":"Respond Error to Vapi","type":"main","index":0}],[{"node":"Respond to Vapi","type":"main","index":0},{"node":"Send Transfer Notification","type":"main","index":0}]]}},"authors":"André andrefloresbrasil@gmail.com","name":"Version 747eba20","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-06T13:00:08.400Z","id":242,"workflowId":"jhJEokwjIIeyTw1L-qXsV","versionId":"747eba20-93ed-490a-bcce-167d8cf33279","event":"activated","userId":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b"}]}}