Ralph projects/descomplica-workflows/raw/workflow-IAUM92jTURfm-nwKuaUdp.json
{"updatedAt":"2026-02-07T19:05:01.919Z","createdAt":"2026-02-07T07:43:14.518Z","id":"IAUM92jTURfm-nwKuaUdp","name":"Invoice OCR Processing","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"757ad4ee-fbc2-4fa4-962e-1ab42dee0775","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4912,960]},{"parameters":{"authentication":"oAuth2","resource":"folder","operation":"list","path":"/_faturas","filters":{}},"id":"d4766c26-b4bd-483d-a6a3-5525437382bf","name":"List Folder","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-4672,960],"credentials":{"dropboxOAuth2Api":{"id":"JCLog8VQpfo6EsPv","name":"Dropbox account"}}},{"parameters":{"jsCode":"const supportedExts = ['.pdf', '.jpg', '.jpeg', '.png', '.webp', '.gif', '.tiff', '.tif'];\nreturn items.filter(item => {\n  const d = item.json;\n  const type = d.type || d['.tag'] || '';\n  if (type === 'folder') return false;\n  const name = (d.name || d.pathDisplay || d.path_display || '').toLowerCase();\n  return supportedExts.some(ext => name.endsWith(ext));\n});"},"id":"b6b47057-dc34-45b4-ac5c-23845786d122","name":"Filter Invoices","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4432,960]},{"parameters":{"options":{}},"id":"f598a54b-60a9-4a1a-aec4-fc2ebeb89466","name":"Loop Over Files","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4192,960]},{"parameters":{"authentication":"oAuth2","operation":"download","path":"={{ $json.pathDisplay }}"},"id":"4f286b16-a593-4338-ab73-d5effe5d248f","name":"Download PDF","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-3952,960],"credentials":{"dropboxOAuth2Api":{"id":"JCLog8VQpfo6EsPv","name":"Dropbox account"}}},{"parameters":{"jsCode":"// Extract binary data and build Gemini API request body\nconst binaryKeys = Object.keys(items[0].binary || {});\nif (binaryKeys.length === 0) {\n  throw new Error('No binary data from Dropbox download');\n}\nconst binaryMeta = items[0].binary[binaryKeys[0]];\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryKeys[0]);\nif (buffer.length > 10 * 1024 * 1024) {\n  throw new Error('File exceeds 10MB limit for Gemini Vision API: ' + (buffer.length / (1024*1024)).toFixed(1) + 'MB');\n}\nconst base64Data = buffer.toString('base64');\nconst originalPath = items[0].json.pathDisplay || items[0].json.path_display || items[0].json.pathLower || '';\nconst originalName = items[0].json.name || originalPath.split('/').pop() || 'unknown.pdf';\n\n// Detect MIME type from extension\nconst ext = originalName.split('.').pop().toLowerCase();\nconst mimeMap = { pdf: 'application/pdf', jpg: 'image/jpeg', jpeg: 'image/jpeg', png: 'image/png', webp: 'image/webp', gif: 'image/gif', tiff: 'image/tiff', tif: 'image/tiff' };\nconst mimeType = mimeMap[ext] || binaryMeta.mimeType || 'application/pdf';\n\nconst prompt = 'Extract the following from this Portuguese invoice and return ONLY a JSON object:\\n\\n' +\n  '1. vendor: The company NAME issuing the invoice (at the top, NOT the client)\\n' +\n  '2. date: The invoice/emission date in YYYY-MM-DD format (NOT due date)\\n' +\n  '3. amount: The total amount as a number (e.g., 123.45)\\n' +\n  '4. vat: The CLIENT/BUYER VAT number. ONLY return one of these exact values: 226887499 or 243863438. If neither is found, return null.\\n' +\n  '5. currency: The currency (default EUR)\\n\\n' +\n  'CRITICAL:\\n' +\n  '- For VAT: Look in sections labeled Cliente, Adquirente, Bill To, Destinatario. ONLY return 226887499 or 243863438. Strip any PT prefix or spaces.\\n' +\n  '- For amount: Return the FINAL total (Total a Pagar / Grand Total), not subtotals or tax amounts.\\n' +\n  '- For vendor: Return the company that ISSUED the invoice, not the buyer.\\n\\n' +\n  'Return ONLY valid JSON, no markdown.';\n\nconst requestBody = {\n  contents: [{\n    parts: [\n      { inline_data: { mime_type: mimeType, data: base64Data } },\n      { text: prompt }\n    ]\n  }],\n  generationConfig: {\n    temperature: 0.1,\n    responseMimeType: 'application/json'\n  }\n};\n\nreturn [{ json: { originalPath, originalName, requestBody } }];"},"id":"5e89ea2c-959d-42ea-98b3-11b307d017ce","name":"Prepare Gemini Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3712,960]},{"parameters":{"method":"POST","url":"={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $env.GEMINI_API_KEY }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{"timeout":120000}},"id":"013b5aef-c076-408a-b6cf-bcf43f5881d2","name":"Call Gemini Vision","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3472,960],"continueOnFail":true},{"parameters":{"jsCode":"// Parse Gemini response and apply business logic\nvar item = items[0].json;\nvar metadata = $('Prepare Gemini Request').first().json;\nvar originalPath = metadata.originalPath;\nvar originalName = metadata.originalName;\n\n// Check if Gemini call failed (continueOnFail passes error data through)\nif (item.error || (item.statusCode && item.statusCode >= 400)) {\n  return [{\n    json: {\n      status: 'Error',\n      errorMessage: item.error || item.message || 'Gemini API call failed (status ' + (item.statusCode || 'unknown') + ')',\n      originalPath: originalPath,\n      originalName: originalName,\n      destinationPath: '/_Faturas/Erros/' + originalName,\n      vendor: 'N/A', date: 'N/A', amount: 0, vat: 'N/A',\n      processedAt: new Date().toISOString()\n    }\n  }];\n}\n\n// Validate Gemini response structure\nif (!item.candidates || item.candidates.length === 0) {\n  return [{\n    json: {\n      status: 'Error',\n      errorMessage: 'Gemini returned no candidates (possible safety/content filter block)',\n      originalPath: originalPath,\n      originalName: originalName,\n      destinationPath: '/_Faturas/Erros/' + originalName,\n      vendor: 'N/A', date: 'N/A', amount: 0, vat: 'N/A',\n      processedAt: new Date().toISOString()\n    }\n  }];\n}\n\nvar candidate = item.candidates[0];\nif (candidate.finishReason && candidate.finishReason !== 'STOP') {\n  return [{\n    json: {\n      status: 'Error',\n      errorMessage: 'Gemini stopped early: ' + candidate.finishReason,\n      originalPath: originalPath,\n      originalName: originalName,\n      destinationPath: '/_Faturas/Erros/' + originalName,\n      vendor: 'N/A', date: 'N/A', amount: 0, vat: 'N/A',\n      processedAt: new Date().toISOString()\n    }\n  }];\n}\n\nif (!candidate.content || !candidate.content.parts || candidate.content.parts.length === 0) {\n  return [{\n    json: {\n      status: 'Error',\n      errorMessage: 'Gemini response has no content parts',\n      originalPath: originalPath,\n      originalName: originalName,\n      destinationPath: '/_Faturas/Erros/' + originalName,\n      vendor: 'N/A', date: 'N/A', amount: 0, vat: 'N/A',\n      processedAt: new Date().toISOString()\n    }\n  }];\n}\n\n// Parse Gemini JSON response\nvar geminiResult;\ntry {\n  var responseText = candidate.content.parts[0].text;\n  geminiResult = JSON.parse(responseText);\n} catch (e) {\n  return [{\n    json: {\n      status: 'Error',\n      errorMessage: 'Failed to parse Gemini response: ' + e.message,\n      originalPath: originalPath,\n      originalName: originalName,\n      destinationPath: '/_Faturas/Erros/' + originalName,\n      vendor: 'N/A', date: 'N/A', amount: 0, vat: 'N/A',\n      processedAt: new Date().toISOString()\n    }\n  }];\n}\n\n// VAT-specific folder paths\nvar vatPaths = {\n  '226887499': {\n    reverse_charge: '/Andr\\u00e9/Profissional/O Ref\\u00fagio/Fiscalidade/Faturas/2 - Cobran\\u00e7a revers\\u00edvel',\n    national: '/Andr\\u00e9/Profissional/O Ref\\u00fagio/Fiscalidade/Faturas/1 - Despesas nacionais'\n  },\n  '243863438': {\n    reverse_charge: '/Andr\\u00e9/Profissional/Casca de Noz/Fiscalidade/Faturas/2 - Cobran\\u00e7a revers\\u00edvel',\n    national: '/Andr\\u00e9/Profissional/Casca de Noz/Fiscalidade/Faturas/1 - Despesas nacionais'\n  }\n};\n\nvar reverseChargeVendors = ['booking.com', 'booking', 'airbnb', 'vrbo', 'stripe'];\n\nfunction getQuarter(dateStr) {\n  var d = new Date(dateStr);\n  var month = d.getMonth() + 1;\n  var year = d.getFullYear();\n  if (month <= 3) return year + ' - 03T';\n  if (month <= 6) return year + ' - 06T';\n  if (month <= 9) return year + ' - 09T';\n  return year + ' - 12T';\n}\n\nfunction isReverseCharge(vendor) {\n  if (!vendor) return false;\n  var v = vendor.toLowerCase();\n  return reverseChargeVendors.some(function(rc) { return v.indexOf(rc) >= 0; });\n}\n\nfunction cleanString(s) {\n  if (!s) return '';\n  var result = s.replace(/ /g, '_');\n  result = result.replace(/[^a-zA-Z0-9_.-]/g, '_');\n  while (result.indexOf('__') >= 0) result = result.replace('__', '_');\n  if (result[0] === '_') result = result.substring(1);\n  if (result[result.length - 1] === '_') result = result.substring(0, result.length - 1);\n  return result;\n}\n\nfunction generateFilename(vendor, date, amount, ext) {\n  var v = cleanString(vendor || 'Unknown');\n  var d = date || 'NoDate';\n  var a = amount != null ? amount.toFixed(2).replace('.', ',') : '0,00';\n  var e = ext || '.pdf';\n  var f = v + '_' + d + '_' + a + e;\n  if (f.length > 200) f = f.substring(0, 200 - e.length) + e;\n  return f;\n}\n\nvar vendor = geminiResult.vendor;\nvar date = geminiResult.date;\nvar amount = geminiResult.amount;\nvar vat = geminiResult.vat;\nvar currency = geminiResult.currency;\nvar isComplete = vendor && date && amount != null && vat;\n\nvar destinationFolder;\nvar newFilename;\nvar status;\nvar errorMessage = '';\n\nif (isComplete) {\n  var cleanVat = String(vat).replace(/[^0-9]/g, '');\n  var isRC = isReverseCharge(vendor);\n  var category = isRC ? 'reverse_charge' : 'national';\n  if (vatPaths[cleanVat]) {\n    destinationFolder = vatPaths[cleanVat][category] + '/' + getQuarter(date);\n  } else {\n    destinationFolder = '/Andr\\u00e9/Profissional/Outros';\n  }\n  var origExt = '.' + originalName.split('.').pop().toLowerCase();\n  newFilename = generateFilename(vendor, date, amount, origExt);\n  status = 'Success';\n} else {\n  destinationFolder = '/_Faturas/Para Revis\\u00e3o';\n  newFilename = originalName;\n  status = 'Review Needed';\n  errorMessage = 'Missing fields - needs manual review';\n}\n\nreturn [{\n  json: {\n    status: status,\n    vendor: vendor || 'N/A',\n    date: date || 'N/A',\n    amount: amount || 0,\n    vat: vat || 'N/A',\n    currency: currency || 'EUR',\n    originalPath: originalPath,\n    originalName: originalName,\n    destinationPath: destinationFolder + '/' + newFilename,\n    errorMessage: errorMessage,\n    processedAt: new Date().toISOString()\n  }\n}];"},"id":"4e117dfd-38fa-471a-b628-64487f81bcbe","name":"Business Logic","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3232,960]},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"cond-error","leftValue":"={{ $json.status }}","rightValue":"Error","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6a172155-baa6-43b8-887b-3ac8f5287d14","name":"Is Error?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2992,960]},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"cond-complete","leftValue":"={{ $json.status }}","rightValue":"Success","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"25d3e7cb-de96-4253-bd91-800b3df0a1db","name":"Is Complete?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2752,848]},{"parameters":{"authentication":"oAuth2","operation":"move","path":"={{ $json.originalPath }}","toPath":"={{ $json.destinationPath }}"},"id":"fe6b7d0a-d4c3-4762-9210-3296b668e8cb","name":"Move to Organized","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-2512,736],"credentials":{"dropboxOAuth2Api":{"id":"JCLog8VQpfo6EsPv","name":"Dropbox account"}}},{"parameters":{"authentication":"oAuth2","operation":"move","path":"={{ $json.originalPath }}","toPath":"={{ $json.destinationPath }}"},"id":"822b586c-6ae1-4544-8cf8-31c875c11821","name":"Move to Review","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-2512,944],"credentials":{"dropboxOAuth2Api":{"id":"JCLog8VQpfo6EsPv","name":"Dropbox account"}}},{"parameters":{"authentication":"oAuth2","operation":"move","path":"={{ $json.originalPath }}","toPath":"={{ $json.destinationPath }}"},"id":"4e868da9-2f51-4b34-aa98-8244dd7edc0a","name":"Move to Errors","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-2752,1168],"credentials":{"dropboxOAuth2Api":{"id":"JCLog8VQpfo6EsPv","name":"Dropbox account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15taOoUcAfVs7ahIGOAYEnQCp6l-Ek2-eSVQLhkaArG8","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $('Business Logic').first().json.processedAt }}","Original Filename":"={{ $('Business Logic').first().json.originalName }}","Vendor":"={{ $('Business Logic').first().json.vendor }}","Date":"={{ $('Business Logic').first().json.date }}","Amount":"={{ $('Business Logic').first().json.amount }}","VAT":"={{ $('Business Logic').first().json.vat }}","Status":"={{ $('Business Logic').first().json.status }}","Destination Path":"={{ $('Business Logic').first().json.destinationPath }}","Error Message":"={{ $('Business Logic').first().json.errorMessage }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"fd575fa0-b965-48cf-a6a3-fcce162c0281","name":"Log Success","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2272,736],"credentials":{"googleSheetsOAuth2Api":{"id":"7VqULLmjWMaM7VIU","name":"Google Sheets account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15taOoUcAfVs7ahIGOAYEnQCp6l-Ek2-eSVQLhkaArG8","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $('Business Logic').first().json.processedAt }}","Original Filename":"={{ $('Business Logic').first().json.originalName }}","Vendor":"={{ $('Business Logic').first().json.vendor }}","Date":"={{ $('Business Logic').first().json.date }}","Amount":"={{ $('Business Logic').first().json.amount }}","VAT":"={{ $('Business Logic').first().json.vat }}","Status":"={{ $('Business Logic').first().json.status }}","Destination Path":"={{ $('Business Logic').first().json.destinationPath }}","Error Message":"={{ $('Business Logic').first().json.errorMessage }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"cf458376-9947-42c0-99c9-9392313014c2","name":"Log Review","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2272,944],"credentials":{"googleSheetsOAuth2Api":{"id":"7VqULLmjWMaM7VIU","name":"Google Sheets account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15taOoUcAfVs7ahIGOAYEnQCp6l-Ek2-eSVQLhkaArG8","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $('Business Logic').first().json.processedAt }}","Original Filename":"={{ $('Business Logic').first().json.originalName }}","Vendor":"={{ $('Business Logic').first().json.vendor }}","Date":"={{ $('Business Logic').first().json.date }}","Amount":"={{ $('Business Logic').first().json.amount }}","VAT":"={{ $('Business Logic').first().json.vat }}","Status":"={{ $('Business Logic').first().json.status }}","Destination Path":"={{ $('Business Logic').first().json.destinationPath }}","Error Message":"={{ $('Business Logic').first().json.errorMessage }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Original Filename","displayName":"Original Filename","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vendor","displayName":"Vendor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Amount","displayName":"Amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VAT","displayName":"VAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Destination Path","displayName":"Destination Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"f09d5f58-9807-434a-8368-f56568400a59","name":"Log Error","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2512,1168],"credentials":{"googleSheetsOAuth2Api":{"id":"7VqULLmjWMaM7VIU","name":"Google Sheets account 2"}}},{"parameters":{},"id":"d13cd967-c730-455e-8a2f-3ba097c6c8ed","name":"Done","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3952,1168]}],"connections":{"Schedule Trigger":{"main":[[{"node":"List Folder","type":"main","index":0}]]},"List Folder":{"main":[[{"node":"Filter Invoices","type":"main","index":0}]]},"Filter Invoices":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Loop Over Files":{"main":[[{"node":"Done","type":"main","index":0}],[{"node":"Download PDF","type":"main","index":0}]]},"Download PDF":{"main":[[{"node":"Prepare Gemini Request","type":"main","index":0}]]},"Prepare Gemini Request":{"main":[[{"node":"Call Gemini Vision","type":"main","index":0}]]},"Call Gemini Vision":{"main":[[{"node":"Business Logic","type":"main","index":0}]]},"Business Logic":{"main":[[{"node":"Is Error?","type":"main","index":0}]]},"Is Error?":{"main":[[{"node":"Move to Errors","type":"main","index":0}],[{"node":"Is Complete?","type":"main","index":0}]]},"Is Complete?":{"main":[[{"node":"Move to Organized","type":"main","index":0}],[{"node":"Move to Review","type":"main","index":0}]]},"Move to Organized":{"main":[[{"node":"Log Success","type":"main","index":0}]]},"Move to Review":{"main":[[{"node":"Log Review","type":"main","index":0}]]},"Move to Errors":{"main":[[{"node":"Log Error","type":"main","index":0}]]},"Log Success":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Log Review":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Log Error":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"ba999585-4fc3-4fcc-a465-868e56770530","activeVersionId":"ba999585-4fc3-4fcc-a465-868e56770530","versionCounter":41,"triggerCount":1,"shared":[{"updatedAt":"2026-02-07T07:43:14.518Z","createdAt":"2026-02-07T07:43:14.518Z","role":"workflow:owner","workflowId":"IAUM92jTURfm-nwKuaUdp","projectId":"Ngf6hTAwSZXVFW0A","project":{"updatedAt":"2026-01-22T23:42:59.496Z","createdAt":"2026-01-22T23:41:53.441Z","id":"Ngf6hTAwSZXVFW0A","name":"André andrefloresbrasil@gmail.com <andrefloresbrasil@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b","projectRelations":[{"updatedAt":"2026-01-22T23:41:53.441Z","createdAt":"2026-01-22T23:41:53.441Z","userId":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b","projectId":"Ngf6hTAwSZXVFW0A","user":{"updatedAt":"2026-02-09T03:20:47.799Z","createdAt":"2026-01-22T23:41:51.823Z","id":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b","email":"andrefloresbrasil@gmail.com","firstName":"André","lastName":"andrefloresbrasil@gmail.com","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-22T23:43:09.282Z","personalization_survey_n8n_version":"2.4.5","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"FxVMXrBqcRpFL2LSUxZF1","userActivatedAt":1769126574967,"npsSurvey":{"responded":true,"lastShownAt":1769443602440}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-09","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-07T19:14:00.971Z","createdAt":"2026-02-07T19:05:01.921Z","versionId":"ba999585-4fc3-4fcc-a465-868e56770530","workflowId":"IAUM92jTURfm-nwKuaUdp","nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"757ad4ee-fbc2-4fa4-962e-1ab42dee0775","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-4912,960]},{"parameters":{"authentication":"oAuth2","resource":"folder","operation":"list","path":"/_faturas","filters":{}},"id":"d4766c26-b4bd-483d-a6a3-5525437382bf","name":"List Folder","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-4672,960],"credentials":{"dropboxOAuth2Api":{"id":"JCLog8VQpfo6EsPv","name":"Dropbox account"}}},{"parameters":{"jsCode":"const supportedExts = ['.pdf', '.jpg', '.jpeg', '.png', '.webp', '.gif', '.tiff', '.tif'];\nreturn items.filter(item => {\n  const d = item.json;\n  const type = d.type || d['.tag'] || '';\n  if (type === 'folder') return false;\n  const name = (d.name || d.pathDisplay || d.path_display || '').toLowerCase();\n  return supportedExts.some(ext => name.endsWith(ext));\n});"},"id":"b6b47057-dc34-45b4-ac5c-23845786d122","name":"Filter Invoices","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4432,960]},{"parameters":{"options":{}},"id":"f598a54b-60a9-4a1a-aec4-fc2ebeb89466","name":"Loop Over Files","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4192,960]},{"parameters":{"authentication":"oAuth2","operation":"download","path":"={{ $json.pathDisplay }}"},"id":"4f286b16-a593-4338-ab73-d5effe5d248f","name":"Download PDF","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-3952,960],"credentials":{"dropboxOAuth2Api":{"id":"JCLog8VQpfo6EsPv","name":"Dropbox account"}}},{"parameters":{"jsCode":"// Extract binary data and build Gemini API request body\nconst binaryKeys = Object.keys(items[0].binary || {});\nif (binaryKeys.length === 0) {\n  throw new Error('No binary data from Dropbox download');\n}\nconst binaryMeta = items[0].binary[binaryKeys[0]];\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binaryKeys[0]);\nif (buffer.length > 10 * 1024 * 1024) {\n  throw new Error('File exceeds 10MB limit for Gemini Vision API: ' + (buffer.length / (1024*1024)).toFixed(1) + 'MB');\n}\nconst base64Data = buffer.toString('base64');\nconst originalPath = items[0].json.pathDisplay || items[0].json.path_display || items[0].json.pathLower || '';\nconst originalName = items[0].json.name || originalPath.split('/').pop() || 'unknown.pdf';\n\n// Detect MIME type from extension\nconst ext = originalName.split('.').pop().toLowerCase();\nconst mimeMap = { pdf: 'application/pdf', jpg: 'image/jpeg', jpeg: 'image/jpeg', png: 'image/png', webp: 'image/webp', gif: 'image/gif', tiff: 'image/tiff', tif: 'image/tiff' };\nconst mimeType = mimeMap[ext] || binaryMeta.mimeType || 'application/pdf';\n\nconst prompt = 'Extract the following from this Portuguese invoice and return ONLY a JSON object:\\n\\n' +\n  '1. vendor: The company NAME issuing the invoice (at the top, NOT the client)\\n' +\n  '2. date: The invoice/emission date in YYYY-MM-DD format (NOT due date)\\n' +\n  '3. amount: The total amount as a number (e.g., 123.45)\\n' +\n  '4. vat: The CLIENT/BUYER VAT number. ONLY return one of these exact values: 226887499 or 243863438. If neither is found, return null.\\n' +\n  '5. currency: The currency (default EUR)\\n\\n' +\n  'CRITICAL:\\n' +\n  '- For VAT: Look in sections labeled Cliente, Adquirente, Bill To, Destinatario. ONLY return 226887499 or 243863438. Strip any PT prefix or spaces.\\n' +\n  '- For amount: Return the FINAL total (Total a Pagar / Grand Total), not subtotals or tax amounts.\\n' +\n  '- For vendor: Return the company that ISSUED the invoice, not the buyer.\\n\\n' +\n  'Return ONLY valid JSON, no markdown.';\n\nconst requestBody = {\n  contents: [{\n    parts: [\n      { inline_data: { mime_type: mimeType, data: base64Data } },\n      { text: prompt }\n    ]\n  }],\n  generationConfig: {\n    temperature: 0.1,\n    responseMimeType: 'application/json'\n  }\n};\n\nreturn [{ json: { originalPath, originalName, requestBody } }];"},"id":"5e89ea2c-959d-42ea-98b3-11b307d017ce","name":"Prepare Gemini Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3712,960]},{"parameters":{"method":"POST","url":"={{ 'https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=' + $env.GEMINI_API_KEY }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{"timeout":120000}},"id":"013b5aef-c076-408a-b6cf-bcf43f5881d2","name":"Call Gemini Vision","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3472,960],"continueOnFail":true},{"parameters":{"jsCode":"// Parse Gemini response and apply business logic\nvar item = items[0].json;\nvar metadata = $('Prepare Gemini Request').first().json;\nvar originalPath = metadata.originalPath;\nvar originalName = metadata.originalName;\n\n// Check if Gemini call failed (continueOnFail passes error data through)\nif (item.error || (item.statusCode && item.statusCode >= 400)) {\n  return [{\n    json: {\n      status: 'Error',\n      errorMessage: item.error || item.message || 'Gemini API call failed (status ' + (item.statusCode || 'unknown') + ')',\n      originalPath: originalPath,\n      originalName: originalName,\n      destinationPath: '/_Faturas/Erros/' + originalName,\n      vendor: 'N/A', date: 'N/A', amount: 0, vat: 'N/A',\n      processedAt: new Date().toISOString()\n    }\n  }];\n}\n\n// Validate Gemini response structure\nif (!item.candidates || item.candidates.length === 0) {\n  return [{\n    json: {\n      status: 'Error',\n      errorMessage: 'Gemini returned no candidates (possible safety/content filter block)',\n      originalPath: originalPath,\n      originalName: originalName,\n      destinationPath: '/_Faturas/Erros/' + originalName,\n      vendor: 'N/A', date: 'N/A', amount: 0, vat: 'N/A',\n      processedAt: new Date().toISOString()\n    }\n  }];\n}\n\nvar candidate = item.candidates[0];\nif (candidate.finishReason && candidate.finishReason !== 'STOP') {\n  return [{\n    json: {\n      status: 'Error',\n      errorMessage: 'Gemini stopped early: ' + candidate.finishReason,\n      originalPath: originalPath,\n      originalName: originalName,\n      destinationPath: '/_Faturas/Erros/' + originalName,\n      vendor: 'N/A', date: 'N/A', amount: 0, vat: 'N/A',\n      processedAt: new Date().toISOString()\n    }\n  }];\n}\n\nif (!candidate.content || !candidate.content.parts || candidate.content.parts.length === 0) {\n  return [{\n    json: {\n      status: 'Error',\n      errorMessage: 'Gemini response has no content parts',\n      originalPath: originalPath,\n      originalName: originalName,\n      destinationPath: '/_Faturas/Erros/' + originalName,\n      vendor: 'N/A', date: 'N/A', amount: 0, vat: 'N/A',\n      processedAt: new Date().toISOString()\n    }\n  }];\n}\n\n// Parse Gemini JSON response\nvar geminiResult;\ntry {\n  var responseText = candidate.content.parts[0].text;\n  geminiResult = JSON.parse(responseText);\n} catch (e) {\n  return [{\n    json: {\n      status: 'Error',\n      errorMessage: 'Failed to parse Gemini response: ' + e.message,\n      originalPath: originalPath,\n      originalName: originalName,\n      destinationPath: '/_Faturas/Erros/' + originalName,\n      vendor: 'N/A', date: 'N/A', amount: 0, vat: 'N/A',\n      processedAt: new Date().toISOString()\n    }\n  }];\n}\n\n// VAT-specific folder paths\nvar vatPaths = {\n  '226887499': {\n    reverse_charge: '/Andr\\u00e9/Profissional/O Ref\\u00fagio/Fiscalidade/Faturas/2 - Cobran\\u00e7a revers\\u00edvel',\n    national: '/Andr\\u00e9/Profissional/O Ref\\u00fagio/Fiscalidade/Faturas/1 - Despesas nacionais'\n  },\n  '243863438': {\n    reverse_charge: '/Andr\\u00e9/Profissional/Casca de Noz/Fiscalidade/Faturas/2 - Cobran\\u00e7a revers\\u00edvel',\n    national: '/Andr\\u00e9/Profissional/Casca de Noz/Fiscalidade/Faturas/1 - Despesas nacionais'\n  }\n};\n\nvar reverseChargeVendors = ['booking.com', 'booking', 'airbnb', 'vrbo', 'stripe'];\n\nfunction getQuarter(dateStr) {\n  var d = new Date(dateStr);\n  var month = d.getMonth() + 1;\n  var year = d.getFullYear();\n  if (month <= 3) return year + ' - 03T';\n  if (month <= 6) return year + ' - 06T';\n  if (month <= 9) return year + ' - 09T';\n  return year + ' - 12T';\n}\n\nfunction isReverseCharge(vendor) {\n  if (!vendor) return false;\n  var v = vendor.toLowerCase();\n  return reverseChargeVendors.some(function(rc) { return v.indexOf(rc) >= 0; });\n}\n\nfunction cleanString(s) {\n  if (!s) return '';\n  var result = s.replace(/ /g, '_');\n  result = result.replace(/[^a-zA-Z0-9_.-]/g, '_');\n  while (result.indexOf('__') >= 0) result = result.replace('__', '_');\n  if (result[0] === '_') result = result.substring(1);\n  if (result[result.length - 1] === '_') result = result.substring(0, result.length - 1);\n  return result;\n}\n\nfunction generateFilename(vendor, date, amount, ext) {\n  var v = cleanString(vendor || 'Unknown');\n  var d = date || 'NoDate';\n  var a = amount != null ? amount.toFixed(2).replace('.', ',') : '0,00';\n  var e = ext || '.pdf';\n  var f = v + '_' + d + '_' + a + e;\n  if (f.length > 200) f = f.substring(0, 200 - e.length) + e;\n  return f;\n}\n\nvar vendor = geminiResult.vendor;\nvar date = geminiResult.date;\nvar amount = geminiResult.amount;\nvar vat = geminiResult.vat;\nvar currency = geminiResult.currency;\nvar isComplete = vendor && date && amount != null && vat;\n\nvar destinationFolder;\nvar newFilename;\nvar status;\nvar errorMessage = '';\n\nif (isComplete) {\n  var cleanVat = String(vat).replace(/[^0-9]/g, '');\n  var isRC = isReverseCharge(vendor);\n  var category = isRC ? 'reverse_charge' : 'national';\n  if (vatPaths[cleanVat]) {\n    destinationFolder = vatPaths[cleanVat][category] + '/' + getQuarter(date);\n  } else {\n    destinationFolder = '/Andr\\u00e9/Profissional/Outros';\n  }\n  var origExt = '.' + originalName.split('.').pop().toLowerCase();\n  newFilename = generateFilename(vendor, date, amount, origExt);\n  status = 'Success';\n} else {\n  destinationFolder = '/_Faturas/Para Revis\\u00e3o';\n  newFilename = originalName;\n  status = 'Review Needed';\n  errorMessage = 'Missing fields - needs manual review';\n}\n\nreturn [{\n  json: {\n    status: status,\n    vendor: vendor || 'N/A',\n    date: date || 'N/A',\n    amount: amount || 0,\n    vat: vat || 'N/A',\n    currency: currency || 'EUR',\n    originalPath: originalPath,\n    originalName: originalName,\n    destinationPath: destinationFolder + '/' + newFilename,\n    errorMessage: errorMessage,\n    processedAt: new Date().toISOString()\n  }\n}];"},"id":"4e117dfd-38fa-471a-b628-64487f81bcbe","name":"Business Logic","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3232,960]},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"cond-error","leftValue":"={{ $json.status }}","rightValue":"Error","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6a172155-baa6-43b8-887b-3ac8f5287d14","name":"Is Error?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2992,960]},{"parameters":{"conditions":{"options":{"caseSensitive":true},"conditions":[{"id":"cond-complete","leftValue":"={{ $json.status }}","rightValue":"Success","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"25d3e7cb-de96-4253-bd91-800b3df0a1db","name":"Is Complete?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2752,848]},{"parameters":{"authentication":"oAuth2","operation":"move","path":"={{ $json.originalPath }}","toPath":"={{ $json.destinationPath }}"},"id":"fe6b7d0a-d4c3-4762-9210-3296b668e8cb","name":"Move to Organized","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-2512,736],"credentials":{"dropboxOAuth2Api":{"id":"JCLog8VQpfo6EsPv","name":"Dropbox account"}}},{"parameters":{"authentication":"oAuth2","operation":"move","path":"={{ $json.originalPath }}","toPath":"={{ $json.destinationPath }}"},"id":"822b586c-6ae1-4544-8cf8-31c875c11821","name":"Move to Review","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-2512,944],"credentials":{"dropboxOAuth2Api":{"id":"JCLog8VQpfo6EsPv","name":"Dropbox account"}}},{"parameters":{"authentication":"oAuth2","operation":"move","path":"={{ $json.originalPath }}","toPath":"={{ $json.destinationPath }}"},"id":"4e868da9-2f51-4b34-aa98-8244dd7edc0a","name":"Move to Errors","type":"n8n-nodes-base.dropbox","typeVersion":1,"position":[-2752,1168],"credentials":{"dropboxOAuth2Api":{"id":"JCLog8VQpfo6EsPv","name":"Dropbox account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15taOoUcAfVs7ahIGOAYEnQCp6l-Ek2-eSVQLhkaArG8","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $('Business Logic').first().json.processedAt }}","Original Filename":"={{ $('Business Logic').first().json.originalName }}","Vendor":"={{ $('Business Logic').first().json.vendor }}","Date":"={{ $('Business Logic').first().json.date }}","Amount":"={{ $('Business Logic').first().json.amount }}","VAT":"={{ $('Business Logic').first().json.vat }}","Status":"={{ $('Business Logic').first().json.status }}","Destination Path":"={{ $('Business Logic').first().json.destinationPath }}","Error Message":"={{ $('Business Logic').first().json.errorMessage }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"fd575fa0-b965-48cf-a6a3-fcce162c0281","name":"Log Success","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2272,736],"credentials":{"googleSheetsOAuth2Api":{"id":"7VqULLmjWMaM7VIU","name":"Google Sheets account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15taOoUcAfVs7ahIGOAYEnQCp6l-Ek2-eSVQLhkaArG8","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $('Business Logic').first().json.processedAt }}","Original Filename":"={{ $('Business Logic').first().json.originalName }}","Vendor":"={{ $('Business Logic').first().json.vendor }}","Date":"={{ $('Business Logic').first().json.date }}","Amount":"={{ $('Business Logic').first().json.amount }}","VAT":"={{ $('Business Logic').first().json.vat }}","Status":"={{ $('Business Logic').first().json.status }}","Destination Path":"={{ $('Business Logic').first().json.destinationPath }}","Error Message":"={{ $('Business Logic').first().json.errorMessage }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"cf458376-9947-42c0-99c9-9392313014c2","name":"Log Review","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2272,944],"credentials":{"googleSheetsOAuth2Api":{"id":"7VqULLmjWMaM7VIU","name":"Google Sheets account 2"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15taOoUcAfVs7ahIGOAYEnQCp6l-Ek2-eSVQLhkaArG8","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $('Business Logic').first().json.processedAt }}","Original Filename":"={{ $('Business Logic').first().json.originalName }}","Vendor":"={{ $('Business Logic').first().json.vendor }}","Date":"={{ $('Business Logic').first().json.date }}","Amount":"={{ $('Business Logic').first().json.amount }}","VAT":"={{ $('Business Logic').first().json.vat }}","Status":"={{ $('Business Logic').first().json.status }}","Destination Path":"={{ $('Business Logic').first().json.destinationPath }}","Error Message":"={{ $('Business Logic').first().json.errorMessage }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Original Filename","displayName":"Original Filename","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vendor","displayName":"Vendor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Amount","displayName":"Amount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"VAT","displayName":"VAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Destination Path","displayName":"Destination Path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"f09d5f58-9807-434a-8368-f56568400a59","name":"Log Error","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2512,1168],"credentials":{"googleSheetsOAuth2Api":{"id":"7VqULLmjWMaM7VIU","name":"Google Sheets account 2"}}},{"parameters":{},"id":"d13cd967-c730-455e-8a2f-3ba097c6c8ed","name":"Done","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-3952,1168]}],"connections":{"Schedule Trigger":{"main":[[{"node":"List Folder","type":"main","index":0}]]},"List Folder":{"main":[[{"node":"Filter Invoices","type":"main","index":0}]]},"Filter Invoices":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Loop Over Files":{"main":[[{"node":"Done","type":"main","index":0}],[{"node":"Download PDF","type":"main","index":0}]]},"Download PDF":{"main":[[{"node":"Prepare Gemini Request","type":"main","index":0}]]},"Prepare Gemini Request":{"main":[[{"node":"Call Gemini Vision","type":"main","index":0}]]},"Call Gemini Vision":{"main":[[{"node":"Business Logic","type":"main","index":0}]]},"Business Logic":{"main":[[{"node":"Is Error?","type":"main","index":0}]]},"Is Error?":{"main":[[{"node":"Move to Errors","type":"main","index":0}],[{"node":"Is Complete?","type":"main","index":0}]]},"Is Complete?":{"main":[[{"node":"Move to Organized","type":"main","index":0}],[{"node":"Move to Review","type":"main","index":0}]]},"Move to Organized":{"main":[[{"node":"Log Success","type":"main","index":0}]]},"Move to Review":{"main":[[{"node":"Log Review","type":"main","index":0}]]},"Move to Errors":{"main":[[{"node":"Log Error","type":"main","index":0}]]},"Log Success":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Log Review":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]},"Log Error":{"main":[[{"node":"Loop Over Files","type":"main","index":0}]]}},"authors":"André andrefloresbrasil@gmail.com","name":"Version ba999585","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-07T19:13:49.826Z","id":331,"workflowId":"IAUM92jTURfm-nwKuaUdp","versionId":"ba999585-4fc3-4fcc-a465-868e56770530","event":"deactivated","userId":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b"},{"createdAt":"2026-02-07T19:14:00.969Z","id":332,"workflowId":"IAUM92jTURfm-nwKuaUdp","versionId":"ba999585-4fc3-4fcc-a465-868e56770530","event":"activated","userId":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b"},{"createdAt":"2026-02-07T19:05:19.653Z","id":327,"workflowId":"IAUM92jTURfm-nwKuaUdp","versionId":"ba999585-4fc3-4fcc-a465-868e56770530","event":"activated","userId":"bd40af0a-dea0-4936-bcd4-e151c9d8fc8b"}]}}