Projetos de Clientes/Mega Loja/Agente de Voz/Resumo Contacto.json
{
  "updatedAt": "2026-02-15T03:04:32.861Z",
  "createdAt": "2026-02-14T03:10:51.068Z",
  "id": "uAqFlM4HVWYxxtb0",
  "name": "Resumo Contacto",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6b6fea97-a4ea-4a07-b858-30ba57b4f927",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2ff2417a-33da-49df-8f0b-b13e910a5a1d",
      "name": "Webhook - Call Completed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "6b6fea97-a4ea-4a07-b858-30ba57b4f927",
      "notes": "Receives final call data from Vapi server-url event (not a tool call). Responds with simple acknowledgment."
    },
    {
      "parameters": {
        "jsCode": "// Auth check\nconst input = $input.item.json;\nconst headers = input.headers || {};\nconst vapiSecret = headers[\"x-vapi-secret\"] || \"\";\ntry {\n  const expected = process.env.VAPI_WEBHOOK_SECRET || \"\";\n  if (expected && vapiSecret !== expected) {\n    return { _error: true };\n  }\n} catch (e) {}\n\ntry {\n  const raw = input.body || input;\n  const msg = raw.message || raw;\n  const call = msg.call || raw.call || {};\n\n  const call_id = msg.call?.id || call.id || raw.call?.id || \"unknown\";\n  const started_at = msg.startedAt || call.startedAt || \"\";\n  const ended_at = msg.endedAt || call.endedAt || \"\";\n  const customer_phone = msg.customer?.number || call.customer?.number || \"Desconhecido\";\n\n  const analysis = msg.analysis || raw.analysis || {};\n  const structured = analysis.structuredData || {};\n\n  // All structured data fields from Vapi schema\n  const intent = structured.intent || \"\";\n  const outcome = structured.outcome || \"\";\n  const customer_name = structured.customerName || \"\";\n  const customer_phone_verbal = structured.customerPhone || \"\";\n  const follow_up_needed = structured.followUpNeeded !== undefined ? structured.followUpNeeded : true;\n  const request_summary = structured.requestSummary || \"\";\n  const callback_preference = structured.callbackPreference || \"Logo que possível\";\n\n  // Prefer structured requestSummary, fall back to analysis summary\n  const summary = request_summary || analysis.summary || \"Sem resumo disponível\";\n\n  // Best phone: verbal number if given, otherwise caller ID\n  const best_phone = customer_phone_verbal || customer_phone;\n\n  const raw_reason = msg.endedReason || call.endedReason || \"unknown\";\n  const reasonMap = {\n    \"customer-ended-call\": \"Cliente desligou\",\n    \"assistant-ended-call\": \"Assistente terminou\",\n    \"assistant-said-end-call-phrase\": \"Assistente terminou\",\n    \"voicemail\": \"Correio de voz\",\n    \"silence-timed-out\": \"Sem resposta\",\n    \"max-duration-reached\": \"Duração máxima atingida\",\n    \"customer-did-not-answer\": \"Cliente não atendeu\",\n    \"customer-busy\": \"Cliente ocupado\",\n    \"phone-call-provider-closed-websocket\": \"Chamada cortada\",\n    \"pipeline-error-openai-llm-failed\": \"Erro técnico\",\n    \"pipeline-error-deepgram-transcriber-failed\": \"Erro técnico\",\n    \"unknown\": \"Desconhecido\"\n  };\n  const ended_reason = reasonMap[raw_reason] || raw_reason.replace(/-/g, \" \").replace(/^./, c => c.toUpperCase());\n\n  let duration_seconds = 0;\n  if (msg.durationSeconds) {\n    duration_seconds = Number(msg.durationSeconds);\n  } else if (ended_at && started_at) {\n    duration_seconds = Math.round((new Date(ended_at) - new Date(started_at)) / 1000);\n  }\n\n  return {\n    _error: false,\n    call_id,\n    started_at,\n    customer_phone,\n    customer_phone_verbal,\n    best_phone,\n    customer_name,\n    intent,\n    outcome,\n    follow_up_needed,\n    request_summary,\n    callback_preference,\n    summary,\n    ended_reason,\n    duration_seconds\n  };\n} catch (err) {\n  console.log(\"Post Call Summary processing error:\", err.message);\n  return {\n    _error: false,\n    call_id: \"error\",\n    started_at: \"\",\n    summary: \"Erro ao processar dados da chamada: \" + err.message,\n    duration_seconds: 0,\n    customer_phone: \"Desconhecido\",\n    customer_phone_verbal: \"\",\n    best_phone: \"Desconhecido\",\n    customer_name: \"\",\n    intent: \"\",\n    outcome: \"\",\n    follow_up_needed: true,\n    request_summary: \"\",\n    callback_preference: \"Logo que possível\",\n    ended_reason: \"Erro\"\n  };\n}"
      },
      "id": "a95c595a-e43d-4edb-a73a-40d5350270a9",
      "name": "Process Call Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "notes": "Auth check + extracts all structured data fields from Vapi payload (name, phone, intent, outcome, summary, callback preference)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { received: true, status: \"success\" } }}",
        "options": {}
      },
      "id": "09161f3d-d102-4696-b6d2-dfce8f4fbf9d",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        -144
      ]
    },
    {
      "parameters": {
        "sendTo": "andrefloresbrasil@gmail.com",
        "subject": "=Chamada — {{ $json.customer_name || \"Cliente\" }} — {{ $json.intent || \"Assistente Virtual Mega Loja\" }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"pt-PT\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Chamada Recebida - Mega Loja Borja Reis</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; background-color: #f5f5f5;\">\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f5f5f5;\">\n        <tr>\n            <td style=\"padding: 20px 10px;\">\n                <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n\n                    <!-- Brand Header -->\n                    <tr>\n                        <td style=\"background-color: #3e3935; padding: 24px 20px; text-align: center;\">\n                            <h1 style=\"margin: 0; color: #f2db27; font-size: 24px; font-weight: 700; letter-spacing: 0.5px; text-transform: uppercase;\">\n                                MEGA LOJA BORJA REIS\n                            </h1>\n                            <p style=\"margin: 6px 0 0 0; color: #ffffff; font-size: 13px;\">\n                                Chamada recebida pelo Assistente Virtual\n                            </p>\n                        </td>\n                    </tr>\n\n                    <!-- Customer Name -->\n                    <tr>\n                        <td style=\"padding: 30px 20px 8px 20px; text-align: center;\">\n                            <p style=\"margin: 0 0 6px 0; color: #6b7280; font-size: 13px;\">Cliente</p>\n                            <p style=\"margin: 0; color: #3e3935; font-size: 22px; font-weight: 700;\">\n                                {{ $json.customer_name || 'Não identificado' }}\n                            </p>\n                        </td>\n                    </tr>\n\n                    <!-- Phone Number + Call Button -->\n                    <tr>\n                        <td style=\"padding: 12px 20px 20px 20px; text-align: center;\">\n                            <p style=\"margin: 0 0 6px 0; color: #6b7280; font-size: 13px;\">Contacto</p>\n                            <a href=\"tel:{{ $json.best_phone }}\" style=\"color: #3e3935; font-size: 28px; font-weight: 700; text-decoration: none; display: block;\">\n                                {{ $json.best_phone }}\n                            </a>\n                            <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 16px auto 0 auto;\">\n                                <tr>\n                                    <td style=\"background-color: #10b981; border-radius: 8px;\">\n                                        <a href=\"tel:{{ $json.best_phone }}\" style=\"display: inline-block; padding: 14px 32px; color: #ffffff; font-size: 16px; font-weight: 700; text-decoration: none;\">\n                                            Ligar agora\n                                        </a>\n                                    </td>\n                                </tr>\n                            </table>\n                            <p style=\"margin: 12px 0 0 0; color: #91867e; font-size: 12px;\">\n                                {{ new Date($json.started_at).toLocaleString('pt-PT', { timeZone: 'Atlantic/Azores', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }} · {{ Math.floor($json.duration_seconds / 60) }}m {{ $json.duration_seconds % 60 }}s · {{ $json.ended_reason }}\n                            </p>\n                        </td>\n                    </tr>\n\n                    <!-- Callback Preference -->\n                    <tr>\n                        <td style=\"padding: 0 20px 20px 20px;\">\n                            <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #fffbeb; border: 2px solid #f2db27; border-radius: 6px;\">\n                                <tr>\n                                    <td style=\"padding: 16px;\">\n                                        <p style=\"margin: 0 0 4px 0; color: #6b7280; font-size: 13px; font-weight: 600;\">Quando retornar</p>\n                                        <p style=\"margin: 0; color: #3e3935; font-size: 16px; font-weight: 700;\">\n                                            {{ $json.callback_preference }}\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                    <!-- What They Need -->\n                    <tr>\n                        <td style=\"padding: 0 20px 20px 20px;\">\n                            <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f9fafb; border-radius: 6px; border: 1px solid #e5e7eb;\">\n                                <tr>\n                                    <td style=\"padding: 16px;\">\n                                        <p style=\"margin: 0 0 4px 0; color: #6b7280; font-size: 13px; font-weight: 600;\">O que precisa</p>\n                                        <p style=\"margin: 0; color: #3e3935; font-size: 15px; line-height: 1.5;\">\n                                            {{ $json.request_summary || $json.intent || 'Não identificado' }}\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                    <!-- Conversation Summary -->\n                    <tr>\n                        <td style=\"padding: 0 20px 30px 20px;\">\n                            <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"border-left: 4px solid #e5e7eb; border-radius: 2px;\">\n                                <tr>\n                                    <td style=\"padding: 12px 16px;\">\n                                        <p style=\"margin: 0 0 4px 0; color: #6b7280; font-size: 13px; font-weight: 600;\">Resumo da conversa</p>\n                                        <p style=\"margin: 0; color: #6b7280; font-size: 14px; line-height: 1.6;\">\n                                            {{ $json.summary }}\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background-color: #3e3935; padding: 20px; text-align: center;\">\n                            <p style=\"margin: 0; color: #91867e; font-size: 12px;\">\n                                Assistente Virtual — Mega Loja Borja Reis\n                            </p>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "450afa5d-29f1-4e48-b26e-b376d3c0b923",
      "name": "Send Call Summary Email",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "webhookId": "74d64158-10bb-4d6d-95a8-f7e6685e808b",
      "credentials": {
        "gmailOAuth2": {
          "id": "wAMRJTfnApwY7RS6",
          "name": "Gmail account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1X7hpVg-EeWQOnUnLXHJHbV2Jbcc1anWuvaaE4v0KIvg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultName": "Registos Mega Loja",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X7hpVg-EeWQOnUnLXHJHbV2Jbcc1anWuvaaE4v0KIvg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ new Date($json.started_at).toLocaleString('pt-PT', { timeZone: 'Atlantic/Azores', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}",
            "Nome": "={{ $json.customer_name || '' }}",
            "Contacto": "={{ $json.best_phone }}",
            "Assunto": "={{ $json.request_summary || $json.intent }}",
            "Retornar": "={{ $json.callback_preference }}",
            "Resumo": "={{ $json.summary }}",
            "Duração": "={{ Math.floor($json.duration_seconds / 60) + 'm ' + ($json.duration_seconds % 60) + 's' }}",
            "Fim da chamada": "={{ $json.ended_reason }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contacto",
              "displayName": "Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Assunto",
              "displayName": "Assunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Retornar",
              "displayName": "Retornar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resumo",
              "displayName": "Resumo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Duração",
              "displayName": "Duração",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fim da chamada",
              "displayName": "Fim da chamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b7e2c3d4-5f6a-7b8c-9d0e-1f2a3b4c5d6e",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7VqULLmjWMaM7VIU",
          "name": "Google Sheets account 2"
        }
      },
      "continueOnFail": true,
      "notes": "Logs call summary to Google Sheets with Atlantic/Azores timezone formatting."
    }
  ],
  "connections": {
    "Webhook - Call Completed": {
      "main": [
        [
          {
            "node": "Process Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Call Data": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Call Summary Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "errorWorkflow": "7msWfdcUmBjjvZPCLh4F9",
    "availableInMCP": false,
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a200ee26-3f5c-4aa5-8a90-3ba7a5bda0e2",
  "activeVersionId": "a200ee26-3f5c-4aa5-8a90-3ba7a5bda0e2",
  "versionCounter": 29,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-14T03:10:51.068Z",
      "createdAt": "2026-02-14T03:10:51.068Z",
      "role": "workflow:owner",
      "workflowId": "uAqFlM4HVWYxxtb0",
      "projectId": "Ngf6hTAwSZXVFW0A",
      "project": {
        "updatedAt": "2026-01-22T23:42:59.496Z",
        "createdAt": "2026-01-22T23:41:53.441Z",
        "id": "Ngf6hTAwSZXVFW0A",
        "name": "André andrefloresbrasil@gmail.com <andrefloresbrasil@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T23:41:53.441Z",
            "createdAt": "2026-01-22T23:41:53.441Z",
            "userId": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
            "projectId": "Ngf6hTAwSZXVFW0A",
            "user": {
              "updatedAt": "2026-02-15T01:04:48.086Z",
              "createdAt": "2026-01-22T23:41:51.823Z",
              "id": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b",
              "email": "andrefloresbrasil@gmail.com",
              "firstName": "André",
              "lastName": "andrefloresbrasil@gmail.com",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T23:43:09.282Z",
                "personalization_survey_n8n_version": "2.4.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "FxVMXrBqcRpFL2LSUxZF1",
                "userActivatedAt": 1769126574967,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1769443602440
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-15T03:04:32.864Z",
    "createdAt": "2026-02-15T03:04:32.864Z",
    "versionId": "a200ee26-3f5c-4aa5-8a90-3ba7a5bda0e2",
    "workflowId": "uAqFlM4HVWYxxtb0",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "6b6fea97-a4ea-4a07-b858-30ba57b4f927",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "2ff2417a-33da-49df-8f0b-b13e910a5a1d",
        "name": "Webhook - Call Completed",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "webhookId": "6b6fea97-a4ea-4a07-b858-30ba57b4f927",
        "notes": "Receives final call data from Vapi server-url event (not a tool call). Responds with simple acknowledgment."
      },
      {
        "parameters": {
          "jsCode": "// Auth check\nconst input = $input.item.json;\nconst headers = input.headers || {};\nconst vapiSecret = headers[\"x-vapi-secret\"] || \"\";\ntry {\n  const expected = process.env.VAPI_WEBHOOK_SECRET || \"\";\n  if (expected && vapiSecret !== expected) {\n    return { _error: true };\n  }\n} catch (e) {}\n\ntry {\n  const raw = input.body || input;\n  const msg = raw.message || raw;\n  const call = msg.call || raw.call || {};\n\n  const call_id = msg.call?.id || call.id || raw.call?.id || \"unknown\";\n  const started_at = msg.startedAt || call.startedAt || \"\";\n  const ended_at = msg.endedAt || call.endedAt || \"\";\n  const customer_phone = msg.customer?.number || call.customer?.number || \"Desconhecido\";\n\n  const analysis = msg.analysis || raw.analysis || {};\n  const structured = analysis.structuredData || {};\n\n  // All structured data fields from Vapi schema\n  const intent = structured.intent || \"\";\n  const outcome = structured.outcome || \"\";\n  const customer_name = structured.customerName || \"\";\n  const customer_phone_verbal = structured.customerPhone || \"\";\n  const follow_up_needed = structured.followUpNeeded !== undefined ? structured.followUpNeeded : true;\n  const request_summary = structured.requestSummary || \"\";\n  const callback_preference = structured.callbackPreference || \"Logo que possível\";\n\n  // Prefer structured requestSummary, fall back to analysis summary\n  const summary = request_summary || analysis.summary || \"Sem resumo disponível\";\n\n  // Best phone: verbal number if given, otherwise caller ID\n  const best_phone = customer_phone_verbal || customer_phone;\n\n  const raw_reason = msg.endedReason || call.endedReason || \"unknown\";\n  const reasonMap = {\n    \"customer-ended-call\": \"Cliente desligou\",\n    \"assistant-ended-call\": \"Assistente terminou\",\n    \"assistant-said-end-call-phrase\": \"Assistente terminou\",\n    \"voicemail\": \"Correio de voz\",\n    \"silence-timed-out\": \"Sem resposta\",\n    \"max-duration-reached\": \"Duração máxima atingida\",\n    \"customer-did-not-answer\": \"Cliente não atendeu\",\n    \"customer-busy\": \"Cliente ocupado\",\n    \"phone-call-provider-closed-websocket\": \"Chamada cortada\",\n    \"pipeline-error-openai-llm-failed\": \"Erro técnico\",\n    \"pipeline-error-deepgram-transcriber-failed\": \"Erro técnico\",\n    \"unknown\": \"Desconhecido\"\n  };\n  const ended_reason = reasonMap[raw_reason] || raw_reason.replace(/-/g, \" \").replace(/^./, c => c.toUpperCase());\n\n  let duration_seconds = 0;\n  if (msg.durationSeconds) {\n    duration_seconds = Number(msg.durationSeconds);\n  } else if (ended_at && started_at) {\n    duration_seconds = Math.round((new Date(ended_at) - new Date(started_at)) / 1000);\n  }\n\n  return {\n    _error: false,\n    call_id,\n    started_at,\n    customer_phone,\n    customer_phone_verbal,\n    best_phone,\n    customer_name,\n    intent,\n    outcome,\n    follow_up_needed,\n    request_summary,\n    callback_preference,\n    summary,\n    ended_reason,\n    duration_seconds\n  };\n} catch (err) {\n  console.log(\"Post Call Summary processing error:\", err.message);\n  return {\n    _error: false,\n    call_id: \"error\",\n    started_at: \"\",\n    summary: \"Erro ao processar dados da chamada: \" + err.message,\n    duration_seconds: 0,\n    customer_phone: \"Desconhecido\",\n    customer_phone_verbal: \"\",\n    best_phone: \"Desconhecido\",\n    customer_name: \"\",\n    intent: \"\",\n    outcome: \"\",\n    follow_up_needed: true,\n    request_summary: \"\",\n    callback_preference: \"Logo que possível\",\n    ended_reason: \"Erro\"\n  };\n}"
        },
        "id": "a95c595a-e43d-4edb-a73a-40d5350270a9",
        "name": "Process Call Data",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ],
        "notes": "Auth check + extracts all structured data fields from Vapi payload (name, phone, intent, outcome, summary, callback preference)."
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { received: true, status: \"success\" } }}",
          "options": {}
        },
        "id": "09161f3d-d102-4696-b6d2-dfce8f4fbf9d",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          448,
          -144
        ]
      },
      {
        "parameters": {
          "sendTo": "andrefloresbrasil@gmail.com",
          "subject": "=Chamada — {{ $json.customer_name || \"Cliente\" }} — {{ $json.intent || \"Assistente Virtual Mega Loja\" }}",
          "message": "=<!DOCTYPE html>\n<html lang=\"pt-PT\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Chamada Recebida - Mega Loja Borja Reis</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; background-color: #f5f5f5;\">\n    <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f5f5f5;\">\n        <tr>\n            <td style=\"padding: 20px 10px;\">\n                <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; overflow: hidden; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\">\n\n                    <!-- Brand Header -->\n                    <tr>\n                        <td style=\"background-color: #3e3935; padding: 24px 20px; text-align: center;\">\n                            <h1 style=\"margin: 0; color: #f2db27; font-size: 24px; font-weight: 700; letter-spacing: 0.5px; text-transform: uppercase;\">\n                                MEGA LOJA BORJA REIS\n                            </h1>\n                            <p style=\"margin: 6px 0 0 0; color: #ffffff; font-size: 13px;\">\n                                Chamada recebida pelo Assistente Virtual\n                            </p>\n                        </td>\n                    </tr>\n\n                    <!-- Customer Name -->\n                    <tr>\n                        <td style=\"padding: 30px 20px 8px 20px; text-align: center;\">\n                            <p style=\"margin: 0 0 6px 0; color: #6b7280; font-size: 13px;\">Cliente</p>\n                            <p style=\"margin: 0; color: #3e3935; font-size: 22px; font-weight: 700;\">\n                                {{ $json.customer_name || 'Não identificado' }}\n                            </p>\n                        </td>\n                    </tr>\n\n                    <!-- Phone Number + Call Button -->\n                    <tr>\n                        <td style=\"padding: 12px 20px 20px 20px; text-align: center;\">\n                            <p style=\"margin: 0 0 6px 0; color: #6b7280; font-size: 13px;\">Contacto</p>\n                            <a href=\"tel:{{ $json.best_phone }}\" style=\"color: #3e3935; font-size: 28px; font-weight: 700; text-decoration: none; display: block;\">\n                                {{ $json.best_phone }}\n                            </a>\n                            <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin: 16px auto 0 auto;\">\n                                <tr>\n                                    <td style=\"background-color: #10b981; border-radius: 8px;\">\n                                        <a href=\"tel:{{ $json.best_phone }}\" style=\"display: inline-block; padding: 14px 32px; color: #ffffff; font-size: 16px; font-weight: 700; text-decoration: none;\">\n                                            Ligar agora\n                                        </a>\n                                    </td>\n                                </tr>\n                            </table>\n                            <p style=\"margin: 12px 0 0 0; color: #91867e; font-size: 12px;\">\n                                {{ new Date($json.started_at).toLocaleString('pt-PT', { timeZone: 'Atlantic/Azores', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }} · {{ Math.floor($json.duration_seconds / 60) }}m {{ $json.duration_seconds % 60 }}s · {{ $json.ended_reason }}\n                            </p>\n                        </td>\n                    </tr>\n\n                    <!-- Callback Preference -->\n                    <tr>\n                        <td style=\"padding: 0 20px 20px 20px;\">\n                            <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #fffbeb; border: 2px solid #f2db27; border-radius: 6px;\">\n                                <tr>\n                                    <td style=\"padding: 16px;\">\n                                        <p style=\"margin: 0 0 4px 0; color: #6b7280; font-size: 13px; font-weight: 600;\">Quando retornar</p>\n                                        <p style=\"margin: 0; color: #3e3935; font-size: 16px; font-weight: 700;\">\n                                            {{ $json.callback_preference }}\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                    <!-- What They Need -->\n                    <tr>\n                        <td style=\"padding: 0 20px 20px 20px;\">\n                            <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"background-color: #f9fafb; border-radius: 6px; border: 1px solid #e5e7eb;\">\n                                <tr>\n                                    <td style=\"padding: 16px;\">\n                                        <p style=\"margin: 0 0 4px 0; color: #6b7280; font-size: 13px; font-weight: 600;\">O que precisa</p>\n                                        <p style=\"margin: 0; color: #3e3935; font-size: 15px; line-height: 1.5;\">\n                                            {{ $json.request_summary || $json.intent || 'Não identificado' }}\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                    <!-- Conversation Summary -->\n                    <tr>\n                        <td style=\"padding: 0 20px 30px 20px;\">\n                            <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"border-left: 4px solid #e5e7eb; border-radius: 2px;\">\n                                <tr>\n                                    <td style=\"padding: 12px 16px;\">\n                                        <p style=\"margin: 0 0 4px 0; color: #6b7280; font-size: 13px; font-weight: 600;\">Resumo da conversa</p>\n                                        <p style=\"margin: 0; color: #6b7280; font-size: 14px; line-height: 1.6;\">\n                                            {{ $json.summary }}\n                                        </p>\n                                    </td>\n                                </tr>\n                            </table>\n                        </td>\n                    </tr>\n\n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"background-color: #3e3935; padding: 20px; text-align: center;\">\n                            <p style=\"margin: 0; color: #91867e; font-size: 12px;\">\n                                Assistente Virtual — Mega Loja Borja Reis\n                            </p>\n                        </td>\n                    </tr>\n\n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2,
        "position": [
          448,
          0
        ],
        "id": "450afa5d-29f1-4e48-b26e-b376d3c0b923",
        "name": "Send Call Summary Email",
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 2000,
        "webhookId": "74d64158-10bb-4d6d-95a8-f7e6685e808b",
        "credentials": {
          "gmailOAuth2": {
            "id": "wAMRJTfnApwY7RS6",
            "name": "Gmail account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1X7hpVg-EeWQOnUnLXHJHbV2Jbcc1anWuvaaE4v0KIvg"
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultName": "Registos Mega Loja",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1X7hpVg-EeWQOnUnLXHJHbV2Jbcc1anWuvaaE4v0KIvg/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Data": "={{ new Date($json.started_at).toLocaleString('pt-PT', { timeZone: 'Atlantic/Azores', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' }) }}",
              "Nome": "={{ $json.customer_name || '' }}",
              "Contacto": "={{ $json.best_phone }}",
              "Assunto": "={{ $json.request_summary || $json.intent }}",
              "Retornar": "={{ $json.callback_preference }}",
              "Resumo": "={{ $json.summary }}",
              "Duração": "={{ Math.floor($json.duration_seconds / 60) + 'm ' + ($json.duration_seconds % 60) + 's' }}",
              "Fim da chamada": "={{ $json.ended_reason }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Data",
                "displayName": "Data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Nome",
                "displayName": "Nome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Contacto",
                "displayName": "Contacto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Assunto",
                "displayName": "Assunto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Retornar",
                "displayName": "Retornar",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Resumo",
                "displayName": "Resumo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Duração",
                "displayName": "Duração",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Fim da chamada",
                "displayName": "Fim da chamada",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "b7e2c3d4-5f6a-7b8c-9d0e-1f2a3b4c5d6e",
        "name": "Log to Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          448,
          144
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7VqULLmjWMaM7VIU",
            "name": "Google Sheets account 2"
          }
        },
        "continueOnFail": true,
        "notes": "Logs call summary to Google Sheets with Atlantic/Azores timezone formatting."
      }
    ],
    "connections": {
      "Webhook - Call Completed": {
        "main": [
          [
            {
              "node": "Process Call Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Call Data": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            },
            {
              "node": "Send Call Summary Email",
              "type": "main",
              "index": 0
            },
            {
              "node": "Log to Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "André andrefloresbrasil@gmail.com",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-15T03:04:32.968Z",
        "id": 522,
        "workflowId": "uAqFlM4HVWYxxtb0",
        "versionId": "a200ee26-3f5c-4aa5-8a90-3ba7a5bda0e2",
        "event": "activated",
        "userId": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b"
      },
      {
        "createdAt": "2026-02-15T03:04:33.228Z",
        "id": 523,
        "workflowId": "uAqFlM4HVWYxxtb0",
        "versionId": "a200ee26-3f5c-4aa5-8a90-3ba7a5bda0e2",
        "event": "activated",
        "userId": "bd40af0a-dea0-4936-bcd4-e151c9d8fc8b"
      }
    ]
  }
}