_Inspiração/Build a restaurant voice assistant with VAPI and PostgreSQL for bookings & orders.json
{
  "name": "Build a restaurant voice assistant with VAPI and PostgreSQL for bookings & orders",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9f6b9125-0b75-41c2-87a9-1b6746c89e2e",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ca6c5397-c47e-4fde-b08a-c996fc5b242b",
      "name": "Trigger: Voice Request (VAPI)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        832,
        480
      ],
      "webhookId": "9f6b9125-0b75-41c2-87a9-1b6746c89e2e",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "id"
        },
        "columns": {
          "value": {},
          "schema": [],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bbb963c4-1fc3-4dbc-84c5-ed818197fc8a",
      "name": "Update Data (Table Booking / Orders)",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1280,
        480
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Trigger: Voice Request (VAPI)').item.json.body.message.toolCalls[0].id }}\",\n            \"result\": \"{{ $json.status }}\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "97376776-cc21-434b-89b3-e373d4fcc0fe",
      "name": "Respond: Booking/Order Confirmation (VAPI)",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1488,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "7cdb8cb3-94fd-4784-9b79-c9ae26fd7ae6",
      "name": "Wait For Response",
      "type": "n8n-nodes-base.wait",
      "position": [
        1056,
        480
      ],
      "webhookId": "70ef62ba-b15e-48d6-b6ea-031f1ad02176",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "f715f043-661b-4118-9763-642128d936ce",
      "name": "Wait For Response1",
      "type": "n8n-nodes-base.wait",
      "position": [
        1280,
        752
      ],
      "webhookId": "5282819f-e54d-415e-a2a2-384df4b9f71d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "efe2c13f-1ba5-46e1-9996-57bdc6041973",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4a2f8aee-6e5a-44d5-873c-8b8c28aeff3b",
      "name": "Trigger: Info Request (VAPI)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        832,
        752
      ],
      "webhookId": "efe2c13f-1ba5-46e1-9996-57bdc6041973",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "id"
        },
        "options": {}
      },
      "id": "33a7e434-5228-4475-9b21-a5afb7c8656b",
      "name": " Get Restaurant Info (Postgres)",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1056,
        752
      ],
      "typeVersion": 2.6
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Trigger: Info Request (VAPI)').item.json.body.message.toolCalls[0].id }}\",\n            \"result\":  \"{{ $json.available }}\"\n        }\n    ]\n}",
        "options": {}
      },
      "id": "09058c8d-e3f4-4caa-898a-123ef4ec3eba",
      "name": "Respond: Restaurant Details (VAPI)",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1488,
        752
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Table Booking & Order Handling\n\n- Use this workflow to let the voice assistant take table reservations and food orders from customers.\n\n- It saves booking and order details into the database and confirms them back to the customer instantly.\n\n\n",
        "height": 340,
        "width": 440,
        "color": 4
      },
      "id": "e5c43fa2-68c9-4303-bd74-6662cf95a05f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Restaurant Info Provider\n\n- Use this workflow to let the voice assistant take table reservations and food orders from customers.\n\n- It saves booking and order details into the database and confirms them back to the customer instantly.\n\n\n",
        "height": 340,
        "width": 480
      },
      "id": "4ec14fb4-e367-4b3f-bba4-50cc70c008d2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        640
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Wait For Response": {
      "main": [
        [
          {
            "node": "Update Data (Table Booking / Orders)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait For Response1": {
      "main": [
        [
          {
            "node": "Respond: Restaurant Details (VAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Info Request (VAPI)": {
      "main": [
        [
          {
            "node": " Get Restaurant Info (Postgres)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Voice Request (VAPI)": {
      "main": [
        [
          {
            "node": "Wait For Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Get Restaurant Info (Postgres)": {
      "main": [
        [
          {
            "node": "Wait For Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Data (Table Booking / Orders)": {
      "main": [
        [
          {
            "node": "Respond: Booking/Order Confirmation (VAPI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateId": "5847",
    "instanceId": "0ad473ca5f04731bc02a819377b7037140df61c07ce29e449d14e76e6e995ec1"
  },
  "id": "kiszhizQz528iNAkV-p63",
  "tags": []
}