_Inspiração/Evaluate AI workflows using Google Sheets, Gemini, Claude, GPT, and Perplexity.json
{
  "name": "Evaluate AI workflows using Google Sheets, Gemini, Claude, GPT, and Perplexity",
  "nodes": [
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit?usp=drivesdk",
          "cachedResultName": "eval test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Result",
              "outputValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "cfaca160-61ac-4706-b17b-f1eb2e0390a0",
      "name": "Evaluation",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2064,
        2144
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "id": "7fe85f2f-bc1d-41da-907c-e4c3c1f1bee4",
      "name": "Evaluation3",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        1776,
        2304
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit?usp=drivesdk",
          "cachedResultName": "eval test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit#gid=0",
          "cachedResultName": "Sheet1"
        }
      },
      "id": "9ac36a2b-c879-4d17-a508-d950182c1662",
      "name": "When fetching a dataset row",
      "type": "n8n-nodes-base.evaluationTrigger",
      "position": [
        1024,
        2304
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {}
      },
      "id": "9ed4aea0-6cf4-474d-bd39-96c3101595eb",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1392,
        2544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "categorization",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json.team }}",
        "actualAnswer": "={{ $('Evaluation3').item.json.output }}",
        "options": {
          "metricName": "Categorization"
        }
      },
      "id": "c78f9dc6-fdca-41e0-868a-bceeb1503f67",
      "name": "Evaluation5",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2304,
        2144
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "content": "Evaluation Trigger\n\nData Table or Google Sheets -> Expand in the future?"
      },
      "id": "a568f927-bcb3-453e-ac50-5275de890cf8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "06da59cd-5393-40b8-8db6-c3e1d93962db",
      "name": "When fetching a dataset row1",
      "type": "n8n-nodes-base.evaluationTrigger",
      "position": [
        448,
        1248
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "id": "9a2bb0ef-dabe-4c7a-9958-3048314b8ee5",
      "name": "Evaluation4",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        864,
        1248
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "content": "checkIfEvaluating\n\nFlow branch -> Like if\nWorkflow either goes evaluation route or normal"
      },
      "id": "82e526e6-3489-4760-8b78-29b90e3fef52",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1IUZc2WSEMQ6QpEs_6-aTdMRJAh2z2Bq2cY81hnqeHj4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUZc2WSEMQ6QpEs_6-aTdMRJAh2z2Bq2cY81hnqeHj4/edit?usp=drivesdk",
          "cachedResultName": "Kenneth Spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1858508822,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IUZc2WSEMQ6QpEs_6-aTdMRJAh2z2Bq2cY81hnqeHj4/edit#gid=1858508822",
          "cachedResultName": "Cases"
        },
        "outputs": {
          "values": [
            {}
          ]
        }
      },
      "id": "4520ee01-14c3-4eb8-8c22-772c0f950fe2",
      "name": "Evaluation6",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        1344,
        1264
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "content": "set outputs\n\nPut the results from the run into Google Sheets or Data Table"
      },
      "id": "cc25269c-939e-4324-88b9-c028c12ce9f8",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "options": {}
      },
      "id": "e6c4f32b-2106-413c-a1ed-4ea4689ecf4b",
      "name": "Evaluation7",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2080,
        1264
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "content": "set metrics\n\nEvaluates how your run performed. May use a Model"
      },
      "id": "495e8cd1-a945-4eef-a646-1dcb6155862d",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Uses - AI\n\n\nCorrectness: Whether the answer's meaning is consistent with a supplied reference answer. Uses a scale of 1 to 5, with 5 being the best.\n\nHelpfulness: Whether the response answers the given query. Uses a scale of 1 to 5, with 5 being the best.",
        "height": 224,
        "width": 320
      },
      "id": "b73543b3-5ea8-4e54-a8e4-444af7bf0eca",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "stringSimilarity",
        "options": {}
      },
      "id": "49726a2a-b593-408c-be82-0e8bf87ba095",
      "name": "Evaluation8",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2560,
        1264
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "content": "String Similarity: How close the answer is to the reference answer, measured character-by-character (edit distance). Returns a score between 0 and 1.\n\nCategorization: Whether the answer is an exact match with the reference answer. Returns 1 when matching and 0 otherwise.\n\nTools Used: Whether the execution used tools or not. Returns a score between 0 and 1.",
        "height": 224,
        "width": 576
      },
      "id": "ebbb357e-8452-4bc7-9975-a857e29a7a16",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2432,
        1008
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Example 1 Categorization\n\n\nCategorization: Whether the answer is an exact match with the reference answer. Returns 1 when matching and 0 otherwise.\n\n\nWorld Series Winners - No results 2024 and 2025",
        "height": 304,
        "width": 528,
        "color": 7
      },
      "id": "f1fd87dd-4564-47f1-ae76-f38f80be3b1c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        2272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit?usp=drivesdk",
          "cachedResultName": "eval test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 890240055,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit#gid=890240055",
          "cachedResultName": "Sheet2"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Tools Used",
              "outputValue": "={{ $json.intermediateSteps[0].action.tool }}"
            }
          ]
        }
      },
      "id": "0e9923e8-eee4-476a-b6da-7fa783c4410e",
      "name": "Evaluation1",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2032,
        2752
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "id": "1348c88c-86dd-40ad-af01-6f3d54f0d8c2",
      "name": "Evaluation9",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        1744,
        2912
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit?usp=drivesdk",
          "cachedResultName": "eval test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 890240055,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit#gid=890240055",
          "cachedResultName": "Sheet2"
        }
      },
      "id": "5594a949-59cc-4a87-a073-43b731185de2",
      "name": "When fetching a dataset row2",
      "type": "n8n-nodes-base.evaluationTrigger",
      "position": [
        976,
        2912
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "toolsUsed",
        "expectedTools": "={{ $('When fetching a dataset row2').item.json.tool }}",
        "intermediateSteps": "={{ $('Evaluation9').item.json.intermediateSteps[0].action.tool }}",
        "options": {}
      },
      "id": "d16f94f2-d0b9-4dd4-8f8b-b0ddb1ec227c",
      "name": "Evaluation10",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2272,
        2752
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "content": "## Example 2 Tools Used\n\n\nTools Used: Whether the execution used tools or not. Returns a score between 0 and 1.\n\nWorld Series Winners - Use Perplexity to get new results",
        "height": 304,
        "width": 528,
        "color": 7
      },
      "id": "12580362-6d69-4694-8bfc-c076867ae27e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        2864
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit?usp=drivesdk",
          "cachedResultName": "eval test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Result",
              "outputValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "257d9439-d1bc-4f0d-8af5-66c7f95278c9",
      "name": "Evaluation2",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2032,
        3504
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "id": "0104ef2f-f1ba-4382-9662-b9df9f4a61cf",
      "name": "Evaluation11",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        1744,
        3664
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit?usp=drivesdk",
          "cachedResultName": "eval test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1065824480,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit#gid=1065824480",
          "cachedResultName": "Sheet3"
        }
      },
      "id": "57f59d48-b620-472f-969d-b4c3a8505640",
      "name": "When fetching a dataset row3",
      "type": "n8n-nodes-base.evaluationTrigger",
      "position": [
        976,
        3664
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "stringSimilarity",
        "expectedAnswer": "={{ $('When fetching a dataset row3').item.json['Expected clean data'] }}",
        "actualAnswer": "={{ $('Evaluation11').item.json.output }}",
        "options": {}
      },
      "id": "547aad25-2b74-4cea-b9aa-071267d7702a",
      "name": "Evaluation12",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2272,
        3504
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "content": "## Example 3 String Similarity\n\n\nString Similarity: How close the answer is to the reference answer, measured character-by-character (edit distance). Returns a score between 0 and 1.\n\n\nData Cleaning Validation\n",
        "height": 464,
        "width": 528,
        "color": 7
      },
      "id": "f298506c-68df-4851-9d54-8d632604b499",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        3616
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit?usp=drivesdk",
          "cachedResultName": "eval test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Result",
              "outputValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "71acfc91-8cd1-4217-8e01-a0f16a4621bb",
      "name": "Evaluation13",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2032,
        4848
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "id": "95c4eac8-ad30-48bd-990d-9db3a5036ff7",
      "name": "Evaluation14",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        1744,
        5008
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": "yF4PbotpSaEboTBu",
          "cachedResultUrl": "/projects/NQFxMgZQSYbqdMqk/datatables/yF4PbotpSaEboTBu",
          "cachedResultName": "eval_vid"
        }
      },
      "id": "13c4f810-a87f-4da7-9b00-0e128552c6e5",
      "name": "When fetching a dataset row4",
      "type": "n8n-nodes-base.evaluationTrigger",
      "position": [
        976,
        5008
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {}
      },
      "id": "82fb5900-198e-486e-ad0e-aaa77a7032ef",
      "name": "Google Gemini Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1280,
        5200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "expectedAnswer": "={{ $('When fetching a dataset row4').item.json.team }}",
        "actualAnswer": "={{ $('Evaluation14').item.json.output }}",
        "options": {}
      },
      "id": "0e0d92aa-3d38-4255-bb4e-c81303f0b649",
      "name": "Evaluation15",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2272,
        4848
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "content": "## Example 5 Correctness\n\nData Table + non AI Agent Node\n\nCorrectness: Whether the answer's meaning is consistent with a supplied reference answer. Uses a scale of 1 to 5, with 5 being the best.\n\n\nOption 2: Summary Accuracy Testing\n\nSet Node with long articles/documents\nAI Agent generates summaries\nSet Node with reference summaries\nEval Node scores if AI summary captures the same core meaning",
        "height": 400,
        "width": 576,
        "color": 7
      },
      "id": "0eafc598-cf7d-4c4e-b2ce-7dfe8661c5a7",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        4960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit?usp=drivesdk",
          "cachedResultName": "eval test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Result",
              "outputValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "4cc26a18-934e-4631-910f-a55a3f865451",
      "name": "Evaluation16",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2016,
        4272
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "id": "c080b1bd-1b51-476a-801e-f377ad9df12f",
      "name": "Evaluation17",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        1728,
        4432
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit?usp=drivesdk",
          "cachedResultName": "eval test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit#gid=0",
          "cachedResultName": "Sheet1"
        }
      },
      "id": "34420ecb-7a7f-471c-b7b2-d391ba85e9fc",
      "name": "When fetching a dataset row5",
      "type": "n8n-nodes-base.evaluationTrigger",
      "position": [
        960,
        4432
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {}
      },
      "id": "7b8c0919-7f21-4489-90e2-73429c742192",
      "name": "Google Gemini Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1344,
        4672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "helpfulness",
        "actualAnswer": "={{ $('Evaluation17').item.json.output }}",
        "options": {}
      },
      "id": "2904492e-bbba-4746-b09b-ecd580dfcb12",
      "name": "Evaluation18",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2256,
        4272
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "content": "## Example 4 Helpfulness\n\n\nHelpfulness: Whether the response answers the given query. Uses a scale of 1 to 5, with 5 being the best.\n\nOption 1: Product Description Rewriting\n\nManual Trigger with original product descriptions\nAI Agent rewrites them to be more compelling/concise\nSet Node with ideal rewritten versions\nEval Node checks if meaning/key details are preserved (1-5 scale)",
        "height": 304,
        "width": 528,
        "color": 7
      },
      "id": "0b8125df-70db-43b9-b708-b365ce00d824",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        4384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "98133e7a-0627-42e6-8f53-2b8bffff6886",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        1344,
        3136
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "bbb9d4e4-7a68-4bb0-b08f-f40d5856eaf1",
      "name": "Perplexity Tool",
      "type": "n8n-nodes-base.perplexityTool",
      "position": [
        1664,
        3120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "90dfc88f-f960-4e89-9d23-d894d3e4203e",
      "name": "Anthropic Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        1344,
        3840
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "bd684c74-3095-490c-9ddc-d76b116a1382",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2400,
        4448
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "e674cefb-8b08-4b3e-8533-74a4ef16628a",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2416,
        5056
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## Evaluations in Action\n\nThis is a blank demo of a workflow where someone wants to use an information extractor. We grab a test dataset and look at using evaluations to improve the prompt",
        "height": 384,
        "width": 512,
        "color": 7
      },
      "id": "f6accaf3-6b0e-4e97-81e1-31de085568c4",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        1584
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit?usp=drivesdk",
          "cachedResultName": "eval test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit#gid=0",
          "cachedResultName": "Sheet1"
        }
      },
      "id": "4f6997b2-0f15-46b9-8bdc-177fac59de45",
      "name": "When fetching a dataset row6",
      "type": "n8n-nodes-base.evaluationTrigger",
      "position": [
        1248,
        1536
      ],
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "0ad59ce6-ada8-4421-a851-e5985894cb73",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        1232,
        1872
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "572d135b-1f41-4ccc-9781-c0088523297f",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1472,
        1872
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "text": "YOUR TEXT GOES HERE",
        "options": {}
      },
      "id": "d1847d44-c232-49b5-857b-64020c93105e",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "position": [
        1728,
        1712
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit?usp=drivesdk",
          "cachedResultName": "eval test"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1absZ-35jdgX8hXWcyFOXlUA-uhQJ8wcuUiHUvomZKr0/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "outputs": {
          "values": [
            {
              "outputName": "Result",
              "outputValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "id": "54075084-59cc-4734-8c9e-4be0576233c7",
      "name": "Evaluation19",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2320,
        1520
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "id": "e731f6f1-e36d-46ef-b893-352a422ef940",
      "name": "Evaluation20",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2048,
        1712
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "categorization",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json.team }}",
        "actualAnswer": "={{ $('Evaluation20').item.json.output }}",
        "options": {
          "metricName": "Categorization"
        }
      },
      "id": "0e05bdc8-039e-42da-8e9b-f2df1c75cd15",
      "name": "Evaluation21",
      "type": "n8n-nodes-base.evaluation",
      "position": [
        2560,
        1520
      ],
      "typeVersion": 4.8
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2bb8e68d-4306-4c6c-898a-1a3be8f14d15",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "7a69f610-eedb-45c5-b507-659ded9a7de8",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        2320,
        1888
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7fee8df3-f97b-4684-b7b4-0604f79cbe8a",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2608,
        1792
      ],
      "webhookId": "7cb67924-a140-47ba-a5f1-d54346ffecad",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3bd7c899-fbcc-4dee-bfba-1582dcbb0792",
      "name": "Send a message1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2608,
        1968
      ],
      "webhookId": "7cb67924-a140-47ba-a5f1-d54346ffecad",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "@[youtube](-4LXYOhQ-Z0)\n",
        "height": 608,
        "width": 880
      },
      "id": "6be4c7b1-e157-419c-a5fd-54c49491e5f0",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n ## Setup steps\nThis template/tutorial goes through 6 different examples of utilizing evaluations in n8n that you can copy and paste into your workflows.\n\nIf you want to learn even more about how each evaluation works, there is a detailed YouTube video embedded in the template\n\n\n## How it works\n1. Evaluations start with fetching a test dataset in data tables or google sheets\n2. We then pass this into our AI Node which can be an agent, llm chain, information extractor or more\n3. After our AI nodes we have a check if evaluating node which splits our data. When testing with evaluations we branch the data north\n4. Once in the Evaluations branch we set the outputs to the original data table or sheets and then look at the desired metrics we want to test\n5. More evaluation data is present in the evaluations tab. The started plan only allows 1 evaluation workflow per account\n\n\n## Quick Notes\n\nThank you for downloading our free n8n Evaluations template. If you enjoyed the template + tutorial please subscribe to the YouTube channel. We are uploading weekly content on AI/n8n\n\n### Connect With Us\nCheck out the links down below. If you need help with this template, want 1:1 coaching, or have a n8n project you want to build, reach out at ryannolandata@gmail.com\n\n1. Free Skool AI/n8n Group: https://www.skool.com/data-and-ai\n2. LinkedIn: https://www.linkedin.com/in/ryan-p-nolan/\n3. Twitter/X:https://x.com/RyanMattDS\n4. Website: https://ryanandmattdatascience.com/\n",
        "height": 592,
        "width": 1232
      },
      "id": "64a39f11-df11-441c-8ca8-bedbe40ffe7a",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1296,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-preview",
        "options": {}
      },
      "id": "d5af974e-af67-4a5b-a3f2-d37697c9e2d7",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        1728,
        1920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Who won the world series for: {{ $json.year }} Only output the team name. If you do not know write: Undetermined",
        "options": {
          "returnIntermediateSteps": false
        }
      },
      "id": "2663e16b-33bc-46ff-9643-5fae0ed19f1a",
      "name": "World Series Searcher",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1392,
        2304
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "# Set up evaluations in n8n\n\n",
        "height": 80,
        "width": 2144,
        "color": 6
      },
      "id": "12b12b7c-da9a-4deb-918e-46ef78c4fef6",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Who won the world series for: {{ $json.year }} Only output the team name. If you do not know write: Undetermined.\n\nBefore writing Undetermined use the perplexity tool as it has up to date information",
        "options": {
          "returnIntermediateSteps": true
        }
      },
      "id": "25f19bb8-bac3-4bda-837a-99b2d1b8dc07",
      "name": "World Series Searcher1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1360,
        2912
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Standardize this address to proper US postal format with correct capitalization, spacing, and punctuation. Return only the cleaned address:\n\n\nAddress to clean: {{$json.messydata}}",
        "options": {
          "returnIntermediateSteps": false
        }
      },
      "id": "1ccadc7c-dbb4-4c7b-90f2-3a174e30257a",
      "name": "US Postal Formatter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1360,
        3664
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rewrite this product description to be more compelling and customer-focused while keeping it concise. \n\nRequirements:\n- Preserve ALL key specifications and features\n- Make it more engaging and benefit-driven\n- Keep the same essential information\n- Aim for 2-3 sentences maximum\n- Use active, persuasive language\n\nOriginal description:\n{{$json.originalDescription}}",
        "options": {
          "returnIntermediateSteps": false
        }
      },
      "id": "593091e1-17da-4f5b-ab3d-2cc81357398a",
      "name": "Product Description Rewriter",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1344,
        4432
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e07553f4-c85d-476e-88fe-f86a703b105e",
      "name": "Article Reviewer",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        1280,
        5008
      ],
      "typeVersion": 2.1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Evaluation5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation1": {
      "main": [
        [
          {
            "node": "Evaluation10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation2": {
      "main": [
        [
          {
            "node": "Evaluation12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation3": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Evaluation9": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation11": {
      "main": [
        [
          {
            "node": "Evaluation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation13": {
      "main": [
        [
          {
            "node": "Evaluation15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation14": {
      "main": [
        [
          {
            "node": "Evaluation13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation16": {
      "main": [
        [
          {
            "node": "Evaluation18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation17": {
      "main": [
        [
          {
            "node": "Evaluation16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation19": {
      "main": [
        [
          {
            "node": "Evaluation21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation20": {
      "main": [
        [
          {
            "node": "Evaluation19",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Tool": {
      "ai_tool": [
        [
          {
            "node": "World Series Searcher1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Article Reviewer": {
      "main": [
        [
          {
            "node": "Evaluation14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluation18",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluation15",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "US Postal Formatter": {
      "main": [
        [
          {
            "node": "Evaluation11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "World Series Searcher1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "US Postal Formatter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Evaluation20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Series Searcher": {
      "main": [
        [
          {
            "node": "Evaluation3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Series Searcher1": {
      "main": [
        [
          {
            "node": "Evaluation9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "World Series Searcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Article Reviewer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Product Description Rewriter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "World Series Searcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Description Rewriter": {
      "main": [
        [
          {
            "node": "Evaluation17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row2": {
      "main": [
        [
          {
            "node": "World Series Searcher1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row3": {
      "main": [
        [
          {
            "node": "US Postal Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row4": {
      "main": [
        [
          {
            "node": "Article Reviewer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row5": {
      "main": [
        [
          {
            "node": "Product Description Rewriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row6": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateId": "12644",
    "instanceId": "0ad473ca5f04731bc02a819377b7037140df61c07ce29e449d14e76e6e995ec1"
  },
  "id": "YgwZWLiWdB-DNxh42zSvn",
  "tags": []
}