MVP's/Analista de Dados/Dashboard Report Generator.json
{
  "name": "Dashboard Report Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-report",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Generate Report",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "webhookId": "generate-report",
      "id": "81ca8998-7f2f-462e-a59c-c55ade94ef9b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KhqgAMIOVb6glj8J",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst input = raw.body || raw;\nconst { startDate, endDate } = input;\n\n// Validation\nif (!startDate || !endDate) {\n  return {\n    json: {\n      error: true,\n      message: 'startDate and endDate are required'\n    }\n  };\n}\n\nconst start = new Date(startDate);\nconst end = new Date(endDate);\n\nif (isNaN(start.getTime()) || isNaN(end.getTime())) {\n  return {\n    json: {\n      error: true,\n      message: 'Invalid date format. Use YYYY-MM-DD.'\n    }\n  };\n}\n\nif (start > end) {\n  return {\n    json: {\n      error: true,\n      message: 'startDate must be before or equal to endDate'\n    }\n  };\n}\n\n// Format dates in pt-PT\nconst opts = { year: 'numeric', month: '2-digit', day: '2-digit', timeZone: 'Atlantic/Azores' };\nreturn {\n  json: {\n    error: false,\n    startDate,\n    endDate,\n    formattedStart: start.toLocaleDateString('pt-PT', opts),\n    formattedEnd: end.toLocaleDateString('pt-PT', opts)\n  }\n};"
      },
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ],
      "id": "46f8f7e3-d13b-415b-b893-ef75433a1456"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        656,
        304
      ],
      "id": "3a5f3b55-d7df-401d-b0c6-9956e5187c00"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.message }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        864,
        464
      ],
      "id": "ec470a77-7b8f-4478-876c-2f38996ddbe5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env.DASHBOARD_SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Vendas",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Fetch Sales Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        864,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "id": "30c0d567-6c94-4795-be3d-ee4cce6ba984",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7VqULLmjWMaM7VIU",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n\n// === Helpers ===\nfunction escapeHtml(text) {\n  if (!text) return '';\n  return String(text).replace(/[&<>\"']/g, m => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;', '\"': '&quot;', \"'\": '&#039;' }[m]));\n}\nfunction sanitizeFilename(s) {\n  return String(s || '').replace(/[^a-zA-Z0-9_-]/g, '');\n}\nconst safeFloat = (v) => { const n = parseFloat(v); return isNaN(n) ? 0 : n; };\n\n// === Timezone: Atlantic/Azores ===\nconst serverNow = new Date();\nconst utcMs = serverNow.getTime() + (serverNow.getTimezoneOffset() * 60000);\nconst month = new Date(utcMs).getUTCMonth();\nconst isDST = month >= 3 && month <= 9;\nconst offsetHours = isDST ? 0 : -1;\nconst now = new Date(utcMs + (offsetHours * 3600000));\n\n// === Get date range from Parse Request (NOT from $input which is Google Sheets) ===\nconst parseResult = $('Parse Request').first().json;\nconst { startDate, endDate, formattedStart, formattedEnd } = parseResult;\nconst startMs = new Date(startDate).getTime();\nconst endMs = new Date(endDate + 'T23:59:59').getTime();\n\n// === Filter sales data by date range ===\nconst allRows = $input.all();\nconst salesData = allRows.filter(row => {\n  const dateStr = row.json.Date || row.json.Data || '';\n  if (!dateStr) return false;\n  const rowMs = new Date(dateStr).getTime();\n  return !isNaN(rowMs) && rowMs >= startMs && rowMs <= endMs;\n});\n\n// === Calculate metrics ===\nconst totalRevenue = salesData.reduce((sum, row) => sum + safeFloat(row.json.Amount || row.json.Valor), 0);\nconst totalOrders = salesData.length;\nconst avgTicket = totalOrders > 0 ? Math.round((totalRevenue / totalOrders) * 100) / 100 : 0;\n\n// === Truncation notice ===\nconst MAX_TABLE_ROWS = 100;\nconst truncated = salesData.length > MAX_TABLE_ROWS;\nconst displayRows = salesData.slice(0, MAX_TABLE_ROWS);\n\nconst html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Relat\\u00f3rio de Neg\\u00f3cios</title>\n  <style>\n    body { font-family: Arial, sans-serif; margin: 40px; color: #333; }\n    .header { border-bottom: 3px solid #2563eb; padding-bottom: 20px; margin-bottom: 30px; }\n    h1 { color: #2563eb; margin: 0; }\n    .period { color: #666; font-size: 14px; margin-top: 10px; }\n    .metrics { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; margin: 30px 0; }\n    .metric-card { background: #f3f4f6; padding: 20px; border-radius: 8px; }\n    .metric-label { font-size: 12px; color: #666; text-transform: uppercase; }\n    .metric-value { font-size: 28px; font-weight: bold; color: #111; margin-top: 10px; }\n    .section { margin: 40px 0; }\n    .section-title { font-size: 18px; font-weight: bold; margin-bottom: 15px; border-left: 4px solid #2563eb; padding-left: 10px; }\n    table { width: 100%; border-collapse: collapse; }\n    th, td { text-align: left; padding: 12px; border-bottom: 1px solid #e5e7eb; }\n    th { background: #f9fafb; font-weight: 600; color: #374151; }\n    .footer { margin-top: 50px; padding-top: 20px; border-top: 1px solid #e5e7eb; text-align: center; color: #666; font-size: 12px; }\n    .truncation-notice { color: #b45309; font-size: 13px; margin-top: 10px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>Relat\\u00f3rio de Neg\\u00f3cios</h1>\n    <div class=\"period\">Per\\u00edodo: ${escapeHtml(formattedStart)} - ${escapeHtml(formattedEnd)}</div>\n    <div class=\"period\">Gerado em: ${escapeHtml(now.toISOString().replace('T', ' ').slice(0, 19))} (Azores)</div>\n  </div>\n\n  <div class=\"metrics\">\n    <div class=\"metric-card\">\n      <div class=\"metric-label\">Receita Total</div>\n      <div class=\"metric-value\">\\u20ac${totalRevenue.toFixed(2)}</div>\n    </div>\n    <div class=\"metric-card\">\n      <div class=\"metric-label\">Total de Pedidos</div>\n      <div class=\"metric-value\">${totalOrders}</div>\n    </div>\n    <div class=\"metric-card\">\n      <div class=\"metric-label\">Ticket M\\u00e9dio</div>\n      <div class=\"metric-value\">\\u20ac${avgTicket.toFixed(2)}</div>\n    </div>\n  </div>\n\n  <div class=\"section\">\n    <div class=\"section-title\">Vendas Detalhadas</div>\n    <table>\n      <thead>\n        <tr>\n          <th>Data</th>\n          <th>ID Pedido</th>\n          <th>Cliente</th>\n          <th>Valor</th>\n          <th>Estado</th>\n        </tr>\n      </thead>\n      <tbody>\n        ${displayRows.map(row => {\n          const d = escapeHtml(row.json.Date || row.json.Data) || '-';\n          const id = escapeHtml(row.json.OrderID || row.json.Pedido) || '-';\n          const c = escapeHtml(row.json.Customer || row.json.Cliente) || '-';\n          const v = safeFloat(row.json.Amount || row.json.Valor).toFixed(2);\n          const s = escapeHtml(row.json.Status || row.json.Estado) || '-';\n          return '<tr><td>' + d + '</td><td>' + id + '</td><td>' + c + '</td><td>\\u20ac' + v + '</td><td>' + s + '</td></tr>';\n        }).join('')}\n      </tbody>\n    </table>\n    ${truncated ? '<p class=\"truncation-notice\">A mostrar ' + MAX_TABLE_ROWS + ' de ' + salesData.length + ' registos. Todos os registos est\\u00e3o inclu\\u00eddos nas m\\u00e9tricas acima.</p>' : ''}\n  </div>\n\n  <div class=\"footer\">\n    <p>Dashboard de Neg\\u00f3cios &copy; 2026 | Relat\\u00f3rio gerado automaticamente</p>\n  </div>\n</body>\n</html>`;\n\nconst fileName = 'relatorio-' + sanitizeFilename(startDate) + '-' + sanitizeFilename(endDate) + '.pdf';\n\n// Output HTML as binary for Gotenberg upload\nreturn [{\n  json: { fileName },\n  binary: {\n    indexHtml: {\n      data: Buffer.from(html, 'utf-8').toString('base64'),\n      mimeType: 'text/html',\n      fileName: 'index.html'\n    }\n  }\n}];\n\n} catch (err) {\n  return { json: { error: true, message: 'Report generation failed: ' + err.message } };\n}"
      },
      "name": "Generate HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        208
      ],
      "id": "37134fb0-bf70-4224-92d8-c755d5505318"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Report Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1264,
        208
      ],
      "id": "ca017278-c888-4829-ab67-9ae245e5121a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: $json.message }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Report Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1456,
        352
      ],
      "id": "ad83a0c0-db21-4547-9d9c-4f803a381b92"
    },
    {
      "parameters": {
        "jsCode": "const htmlBinary = $input.first().binary?.indexHtml;\nif (!htmlBinary) {\n  return { json: { error: true, message: 'No HTML binary found' } };\n}\n\ntry {\n  const http = require('http');\n  const htmlBuffer = Buffer.from(htmlBinary.data, 'base64');\n  const boundary = '----n8nGotenberg' + Date.now();\n\n  const bodyParts = [\n    '--' + boundary + '\\r\\n' +\n    'Content-Disposition: form-data; name=\"files\"; filename=\"index.html\"\\r\\n' +\n    'Content-Type: text/html\\r\\n\\r\\n',\n    htmlBuffer.toString('utf-8'),\n    '\\r\\n--' + boundary + '--\\r\\n'\n  ];\n  const bodyStr = bodyParts.join('');\n  const bodyBuffer = Buffer.from(bodyStr, 'utf-8');\n\n  const pdfBuffer = await new Promise((resolve, reject) => {\n    const req = http.request({\n      hostname: 'gotenberg',\n      port: 3000,\n      path: '/forms/chromium/convert/html',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'multipart/form-data; boundary=' + boundary,\n        'Content-Length': bodyBuffer.length\n      },\n      timeout: 30000\n    }, (res) => {\n      const chunks = [];\n      res.on('data', (chunk) => chunks.push(chunk));\n      res.on('end', () => {\n        const buf = Buffer.concat(chunks);\n        if (res.statusCode !== 200) {\n          reject(new Error('Gotenberg HTTP ' + res.statusCode + ': ' + buf.toString().slice(0, 200)));\n        } else {\n          resolve(buf);\n        }\n      });\n    });\n    req.on('error', reject);\n    req.on('timeout', () => { req.destroy(); reject(new Error('Gotenberg timeout')); });\n    req.write(bodyBuffer);\n    req.end();\n  });\n\n  const outName = $input.first().json?.fileName || 'report.pdf';\n  return [{\n    json: { fileName: outName },\n    binary: {\n      data: {\n        data: pdfBuffer.toString('base64'),\n        mimeType: 'application/pdf',\n        fileName: outName\n      }\n    }\n  }];\n} catch (err) {\n  return { json: { error: true, message: 'PDF conversion failed: ' + err.message } };\n}"
      },
      "name": "Convert to PDF via Gotenberg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        112
      ],
      "id": "6e203c43-f6d0-4792-a248-1f0656331b88",
      "notes": "Calls Gotenberg API with proper multipart form to convert HTML to PDF"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error === true }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check PDF Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1664,
        112
      ],
      "id": "45a80f6b-ae07-4543-9d10-223f6360beb4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'PDF generation failed. Gotenberg may be unavailable.' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "PDF Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1856,
        208
      ],
      "id": "f991f0a0-8b03-41f1-86c7-92df66e61c30"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"{{ $('Generate HTML Report').first().json.fileName }}\""
              },
              {
                "name": "Content-Type",
                "value": "application/pdf"
              },
              {
                "name": "X-Content-Type-Options",
                "value": "nosniff"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      },
      "name": "Return PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1856,
        0
      ],
      "id": "c2f0ac14-b6db-4006-bb5a-18b40b44d7bd"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Generate Report": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Sales Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sales Data": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Report": {
      "main": [
        [
          {
            "node": "Check Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Report Error": {
      "main": [
        [
          {
            "node": "Report Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to PDF via Gotenberg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF via Gotenberg": {
      "main": [
        [
          {
            "node": "Check PDF Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PDF Error": {
      "main": [
        [
          {
            "node": "PDF Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "executionTimeout": 300,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "121f2f05-a242-4a14-b37a-696152f71321",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dca77fc72a32c4060c488743966c023ff2c7991e176c0cf1c3ff3e34972b5da5"
  },
  "id": "m2QWiz62tBg0AegZdTqzU",
  "tags": []
}